[2014-06-12 19:03] e-chapin opened #1 "Tinker Updates"
Hey everyone, I'm going to start using this to let everyone know about new Tinker updates. Go ahead and report any bugs you find in here rather than the /Cascade repository.

I just added the function to update the year on an update. So if an event changes from a 2014 event to a 2015 event, it will be moved to events/2015/. . .

The form is just about ready for extensive testing.

[2014-06-12 19:03] e-chapin opened #2 "On Campus Location"
@kelslundberg

Did we decide how to do on-campus-locations? Should I just pull anything that is a 'building' on main-campus from the Google Maps block?

[2014-06-12 23:41] #2 closed, assigned to nobody

[2014-06-24 16:46] annmarieven opened #3 "Maps and directions not working"
If you choose an on campus location there should be a link automatically generated to the map page with that marker automatically selected. Is that possible?

@kelslundberg do we want the directions field to go away if they choose an on campus location? or how are we handling this?

[2014-06-25 17:32] kelslundberg opened #4 "Event submission issue"
Hey @e-jameson,

I tested the event form and it looks like Tinker doesn't recognize me as a user :) or something.

It says Hello (no username). And doesn't display the event I just submitted.

Here's the event in Cascade:
https://cms.bethel.edu/entity/open.act?id=d40ef7538c586513365e4ae576c3d8c4&type=page&

AMV said this was something that happened to her and Cindy as well...

Let me know if/when

[2014-06-25 21:29] #4 closed, assigned to nobody

[2014-07-01 20:50] annmarieven opened #5 "Submission not working"
I still can't submit an event to Tinker and have it appear in my list of events. :( It just says "hello" at the top without my username.

[2014-07-01 20:56] annmarieven opened #6 "Form on bottom of event page"
Can we have a horizontal line and "Registration" heading appear (or something) if someone puts in an approved wufoo hash?

We'd like it to stand out a bit more:
http://staging.bethel.edu/events/2014/academic-dates/kjhgf

Maybe ask @johjacb  for thoughts?

[2014-07-02 13:09] #6 closed, assigned to e-jameson

[2014-07-03 18:25] annmarieven opened #7 "Event date"
Can we make the event date required?

Also, what's the difference between setting an event time (start and end) to midnight vs checking the all day box. That's a little confusing to me because I think they do the same thing, right?

[2014-07-03 18:26] #3 closed, assigned to e-jameson

[2014-07-03 18:30] annmarieven opened #8 "Help text"
Event name:
This will be the title of your webpage

Teaser:
Short (1 sentence) description. What will the attendees expect? This will appear in event viewers and on the calendar.

Maps and directions:
Information or links to directions and parking information (if applicable). (ex: Get directions to Bethel University. Please park in the Seminary student and visitor lot.)

Registration/ticketing:
Ho

[2014-07-07 18:40] ErikGruber opened #9 "submission message"
Hey Jame-o, could we get a submission message added? -

Thanks for your submission! Your event page is being built and will be available for you to preview and edit in a few minutes

Please enjoy this GIF while you’re waiting!

http://awesomegifs.com/wp-content/uploads/kitten-is-scared-by-lizard.gif

Your event page needs to be approved before it’s live on our website. This will happen within 2-3

[2014-07-08 19:08] #5 closed, assigned to e-jameson

[2014-07-08 20:35] #7 closed, assigned to e-jameson

[2014-07-08 20:35] #1 closed, assigned to nobody

[2014-07-08 20:43] #8 closed, assigned to nobody

[2014-07-09 20:19] #9 closed, assigned to nobody

[2014-07-16 15:15] e-chapin opened #10 "More Dates freezing?"
Adding > 3 dates freezes some browsers?

[2014-07-16 15:15] e-chapin opened #11 "Date numbers reset"
After "Date 10", it goes down to "Date 1" again

[2014-07-25 13:48] annmarieven opened #12 "Confirmation/email/homepage text changes"
**Publish email:** @mwengstrom I think you can do this one but maybe not the rest.
(can we say tinker.bethel.edu but actually link to https://tinker.bethel.edu?)
Your event, [Steve Green in Concert], has been approved. Visit tinker.bethel.edu to see your new event page.

If you have any questions, please contact Conference and Event Services.

Conference and Event Services
event-services@bethel.ed

[2014-07-28 20:49] annmarieven opened #13 "Event approval from Tinker"
Almost every time an event is submitted I can't actually preview it and just see a long error instead:

https://cms.bethel.edu/entity/open.act?id=16c4f28a8c586513742d45fd95e2ed82&type=page

In case you can't see that page here is the error:
An error occurred: Could not transform with Script format "_cascade/formats/pages/event": org.apache.velocity.exception.MethodInvocationException: Invocation o

[2014-07-29 19:27] #13 closed, assigned to e-jameson

[2014-07-29 19:52] #11 closed, assigned to nobody

[2014-07-29 19:59] #10 closed, assigned to nobody

[2014-07-31 16:14] annmarieven opened #14 "Delete confirmation"
Can we make a confirmation page that says:

"Your event has been deleted. It will be removed from your Tinker homepage [https://tinker.bethel.edu] in a few minutes."

I would also like a pop up to appear when they click the delete button that says "Are you sure you want to permanently delete your event from Bethel's website?"

Thanks!

[2014-07-31 20:17] e-chapin opened #15 "Imports"
Because of the way Python / Flask are importing, the Forms class (and therefore some API calls to Cascade) are required to show the homepage. This causes two issues:
1. If Cascade is down Tinker does't work at all.
2. The homepage takes unnecessarily long to load.

Fix this by importing when needed or separating views into different files.

[2014-08-04 19:25] #14 closed, assigned to e-jameson

[2014-08-12 15:48] e-chapin opened #16 "Localhost"
Because Tinker and Cascade are on the same Server, can we use localhost:8080 (cms.bethel.edu) or localhost:8081 (cms-origin.bethel.edu) URLs to save time when we make Cascade SOAP calls?

[2014-08-12 21:04] annmarieven opened #17 "Spell check"
Can Tinker spell check the fields as people enter information into them?

[2014-08-15 17:05] annmarieven opened #18 "Faculty Bios Updates"
**Faculty Bio Homepage**
Change line of text on main page to "Below is a list of faculty bios you have access to edit. If you don't see your faculty bio, please contact your web author."

Change button text to "Create New Bio"

**Edit Your Bio page** (adjust title)
Faculty Name
Email field - remove help text
Started at Bethel in - add "Enter a year" as the help text
Area of expertise/teaching spec

[2014-08-15 18:42] #17 closed, assigned to nobody

[2014-08-19 12:50] #12 closed, assigned to nobody

[2014-08-19 14:03] #18 closed, assigned to c-schwarze

[2014-08-20 16:21] e-chapin opened #19 "Add username to logging"
Add user names to logging (create, edit, delete) as well as logging when users are first logged in.

[2014-08-24 22:15] e-chapin opened #20 "Homepage"
Finish the tinker homepage

[2014-08-24 22:19] #19 closed, assigned to nobody

[2014-08-24 22:22] #16 closed, assigned to nobody

[2014-08-24 22:23] #15 closed, assigned to e-jameson

[2014-08-25 19:33] e-chapin opened #21 "Faculty Bio add new button"
Has the wrong link:

https://tinker.bethel.edu/faculty-bio/edit/new

Should be:

https://tinker.bethel.edu/faculty-bios/edit/new

[2014-08-25 19:36] e-chapin opened #22 "Map metadata to groups"
For edit access on Faculty Bio's, map the bio's metadata to the correct group in cascade, and check the Cascade groups of the current user for a match.

[2014-08-25 21:43] #21 closed, assigned to nobody

[2014-08-27 20:30] #22 closed, assigned to nobody

[2014-09-10 19:57] annmarieven opened #23 "Web Author Doesn't See All Faculty Bios"
Our web authors should be able to see all faculty bios for the department of the group their in, but they can't. For example, Nadine Johnson is in the education group. She should see all faculty bios in Tinker that are tagged as education.

@c-schwarze was working on this yesterday but I unfortunately couldn't test it because I can't login as another user in Tinker.

Any ideas how to get this up a

[2014-09-11 16:02] annmarieven opened #24 "Sponsor Field Update"
Can we make the sponsor field have the ability to create a link?

https://tinker.bethel.edu/event/add

[2014-09-22 15:08] #24 closed, assigned to nobody

[2014-09-22 15:09] #23 closed, assigned to nobody

[2014-09-22 19:07] annmarieven opened #25 "Faculty Can't Edit Bios"
Just received this from Chris Gehrz:

Description:
Hi there,

I tried to edit my faculty bio after getting AnnMarie's e-mail earlier this
afternoon, but I keep running into an error ("It's not a problem,
probably.")

https://tinker.bethel.edu/faculty-bio/edit/00b776998c586513100ee2a7c6e5e3f3

I'm on a Mac and did try it in a couple of browsers (Safari, Chrome)...

Any ideas? Or are we still workin

[2014-09-24 13:05] #25 closed, assigned to nobody

[2014-09-29 13:26] annmarieven opened #26 "New Faculty Bio Submissions"
We've given the system name of 'lastname-firstname' for all faculty bios in Cascade. However, when a new bio is submitted via Tinker, the system name is 'firstname-lastname'.

Can we change this so it formats the system name correctly?

Thanks!

[2014-10-01 14:17] e-chapin opened #27 "emdash"
Facutly Bios (and probably events) break if there is an emdash in the wysiwyg content.

[2014-10-01 15:57] annmarieven opened #28 "Access to Redirects in Top Nav"
Can everyone who has access to the redirects group in Cascade have the ability to see "Redirects" in the top navigation in Tinker?

Let me know if you need more info :)

thanks!

[2014-10-02 19:29] annmarieven opened #29 "Non-faculty cascade authors can't see faculty bios"
I have a cascade author who isn't a faculty member and she doesn't see faculty bios on her tinker.bethel.edu homepage at all.

Can we say anyone who is in one of our dept groups has access to faculty bios? Here is a screenshot of what Abigail Miller Sengendo sees:
![image_20141002140613_328007](https://cloud.githubusercontent.com/assets/6526079/4496907/63a156c8-4a6a-11e4-84ab-fbe8e333f8ce.png)

[2014-10-03 14:53] annmarieven opened #30 "Change faculty bio confirmation page"
Can we change the text to:
Congrats! (title)
You've successfully edited your faculty bio. In just a few minutes you should be able to see all your changes on your page. If you have any questions, feel free to contact your web author.

Thanks for keeping your bio up to date!

[2014-10-03 20:25] #30 closed, assigned to nobody

[2014-10-06 14:22] #27 closed, assigned to c-schwarze

[2014-10-06 20:34] #29 closed, assigned to e-jameson

[2014-10-06 20:34] #28 closed, assigned to c-schwarze

[2014-10-06 20:35] annmarieven opened #31 "Faculty Bio Urls"
Can we show the www url instead of staging in Tinker?

[2014-10-09 13:24] #26 closed, assigned to c-schwarze

[2014-10-09 16:57] kelslundberg opened #32 "CAS Faculty Listings Publishing"
Hey @e-jameson

I've created this publish set for the CAS faculty listing pages:

Faculty Listings CAS
https://cms.bethel.edu/entity/open.act?id=f580ac758c58651313b6fe6bced65fea&type=publishset

Can you set up Tinker to publish this set anytime a CAS faculty bio is edited?

Let me know if there's anything else you need from me!

[2014-10-13 14:27] #31 closed, assigned to c-schwarze

[2014-10-20 14:40] #32 closed, assigned to nobody

[2014-10-24 16:53] annmarieven opened #33 "Add event date to list of events"
Right now in TInker, we see the title and url of the event(s) that you've submitted. Can we add date to that info? Preferably like this:

Event Name
Date
URL

Example:

Chapel
October 14, 2014
https://www.bethel.edu/events/2014/chapel

[2014-10-25 14:20] annmarieven opened #34 "Remove indentation buttons in text area fields"
There are 2 indent buttons on each of the text area fields in Tinker. They don't work because they go gray when you click in the area to start typing. We don't want them to work. Can we get rid of them completely?

Thank you!

[2014-10-27 15:32] #20 closed, assigned to johjacb

[2014-10-27 16:34] #34 closed, assigned to e-jameson

[2014-10-30 20:21] #33 closed, assigned to annmarieven

[2014-11-03 20:49] annmarieven opened #35 "Tinker forms start at metadata"
When I go to a form in Tinker (faculty bio or event), the page loads all the way at the bottom with the metadata categories, rather than starting me at the top of the page.

Can that be fixed?

[2014-11-03 20:56] annmarieven opened #36 "Faculty Bio Submission"
Trying to submit a test faculty bio but every time I do, my info in the job title field gets erased. So then I can't submit it because that's required :)

Fun stuff.

[2014-11-04 19:37] #35 closed, assigned to e-jameson

[2014-11-05 19:35] #36 closed, assigned to c-schwarze

[2014-11-05 21:31] kelslundberg opened #37 "CAPS/GS Faculty Bio Publishing"
Here's a workflow for the CAPS/GS faculty bios:

https://cms.bethel.edu/entity/open.act?id=81dabbc78c5865130c130b3a2b567e75&type=workflowdefinition

Can we attach this to all creation and edits right now for faculty bios tagged only as CAPS and/or GS?

[2014-11-10 19:21] kelslundberg opened #38 "Image caching for faculty submitted photos"
@e-jameson needs to cook up a plan for how we're going to replace image files for user-submitted faculty photos.

We're shooting to have this in working order by Thanksgiving.

[2014-11-18 15:30] annmarieven opened #39 "Tinker re-submissions get checked as all-day events"
From Brooke Jameson in this FP job: https://footprints.bethel.edu/MRcgi/MRTicketPage.pl?USER=celanna&MRP=EZJIKNq1f&MAJOR_MODE=EDIT&MAXMININC=&LASTID=29357&MR=13245&PROJECTID=9&RUNNING_IN_POPUP=1

When a user re-submits edits to an event page in Tinker the edits show up in Cascade as having checked All Day event. So then we make edits to the page to uncheck the All Day box before approving the rest

[2014-11-20 15:23] annmarieven opened #40 "Redirect tagging for short urls"
Because of the way our "redirect" asset works in Cascade, I'd like to manage our short url requests in Tinker. Can we have a way to tag a redirect as a permanent short url and have them appear in a separate list below or with a special indicator next to it so we know it's a short url and not just a regular old redirect.

Let me know if you need more information from me.

[2014-11-20 16:48] #38 closed, assigned to nobody

[2014-11-20 19:49] #37 closed, assigned to kelslundberg

[2014-11-21 14:14] #39 closed, assigned to c-schwarze

[2014-11-25 20:20] annmarieven opened #41 "Automatic description for faculty bios"
Can we have descriptions automatically pull for faculty bios?

'Meet [first name last name], [job title] of [first department name].'

[2014-11-26 20:43] kelslundberg opened #42 "Change school field to multi select"
Hey @c-schwarze

We're going to have CAPS/GS faculty start using bio submissions and some of them teach in multiple schools.

Could we change the Schools field in tinker to be a multi-select? I think it's set up that way in Cascade so it should work?

Thanks!!

KL

[2014-12-02 16:13] #40 closed, assigned to mwengstrom

[2014-12-02 17:23] #42 closed, assigned to nobody

[2014-12-15 21:33] e-jameson opened #43 "Create a redirect for all unpublished job postings"
We need a system for creating redirects every time a job is unpublished. This is what was discussed today between @e-jameson, @kelslundberg, and I:

email to webmaster@bethel.edu
use the cascade url/id from the 'view the asset' link
point them to one page within employment (something that says, hey - this job has been filled...)
webmaster looks at email subject to know when to apply this rule

@ve

[2014-12-16 15:35] annmarieven opened #44 "Update to faculty bio clears photo"
We think when people make an update to their bio it clears out their photo. Can someone look into this?

Lauren has some more information in job 13516.
https://footprints.bethel.edu/MRcgi/MRTicketPage.pl?USER=celanna&MRP=5CJopBiLB&MAJOR_MODE=EDIT&MAXMININC=&LASTID=19398&MR=13516&PROJECTID=9&RUNNING_IN_POPUP=1

[2014-12-16 17:29] #44 closed, assigned to annmarieven

[2014-12-22 21:07] annmarieven opened #45 "Auto Delete and Redirect"
@e-jameson, we've set up a workflow for sites that don't need approvals. This workflow will automatically delete pages for these users and we want them to redirect to bethel.edu. This is for SEO purposes more than anything else.

I've sent a test through so there should be an email in webmaster@bethel.edu with the workflow information.

We need to take the url from the 'view the asset' link and re

[2014-12-22 21:11] annmarieven opened #46 "Job Posting auto redirect when archived"
@e-jameson, we've set up a workflow for the employment site to unpublish old job postings.

We need to take the url from the 'view the asset' link and redirect that to a page @kelslundberg will provide.

Here is the workflow in case you need it: https://cms.bethel.edu/entity/open.act?id=4fabbd3f8c5865131faa2077a536cfd5&type=workflowdefinition

Let me know if you need anything else from me!

[2015-01-05 18:37] kelslundberg opened #47 "Adding adult program metadata to events"
Looks like we have metadata fields already created for GS and CAPS programs, but they're not in Tinker.

https://cms.bethel.edu/entity/open.act?id=1a525c038c5865135b5a2d9efa247727&type=metadataset

I do need to add seminary programs. I'll do that now. Then we can add the adult program metadata to Tinker.

[2015-01-05 18:45] kelslundberg commented on #47
Okay sem programs should be there now too!

[2015-01-07 21:07] kelslundberg commented on #41
What if we dropped the program name and added Bethel instead...

"Meet Tim Hammer, Instructor of Biology at Bethel University"

It wouldn't be ideal for people who just have "professor" or whatever, but it should make sense logically.

Thoughts?

[2015-01-08 14:01] annmarieven commented on #47
I need to contact the event loaders to let them know. Reopening.

[2015-01-08 14:05] annmarieven commented on #41
I think that's probably our only option :) Thanks for following up with this @kelslundberg.

So it will be 'Meet [first name last name], [job title] at Bethel University.'

[2015-01-08 21:27] kelslundberg commented on #46
Here's a page:

https://cms.bethel.edu/entity/open.act?id=c6566b328c5865132a1de4efa2836f11&type=page

What do you think? It hasn't been published yet.

[2015-01-08 21:32] annmarieven commented on #46
Awesome! @e-jameson can you take care of this?

[2015-01-12 21:30] c-schwarze commented on #41
Updated.

[2015-01-12 22:20] annmarieven commented on #41
Do we need to republish all bios for this to be implemented?

[2015-01-12 22:43] e-jameson commented on #41
All bios would need to be re-submitted through tinker

[2015-01-13 16:55] kelslundberg commented on #41
What does that entail...

[2015-01-13 16:57] e-jameson commented on #41
For each Faculty Bio, get the Cascade ID (00b776998c586513100ee2a7c6e5e3f3) and go to

https://tinker.bethel.edu/faculty-bios/edit/<id>

Don't change anything just click submit.

[2015-01-13 16:58] annmarieven commented on #41
We have to manually do that for all 200+ bios?

[2015-01-13 17:00] e-jameson commented on #41
If you ask nicely I bet @c-schwarze could write some code to do it.

I didn't realize we had so many in Cascade already.

[2015-01-13 17:04] annmarieven commented on #41
haha pretty please @c-schwarze ? : )

[2015-01-13 17:31] kelslundberg commented on #41
yes! please, @c-schwarze ?! :) :)

[2015-01-13 21:37] c-schwarze commented on #41
Working on it. :)

[2015-01-14 22:31] c-schwarze commented on #41
Done. I believe I got them all.

[2015-01-26 16:24] annmarieven opened #48 "Event Submission Updates"
This is a request for 3 things.

- [x] allow career-development-calling events to go into the main 'events/year' folder. we no longer want a subfolder for these events.
- [x] add a rule for events tagged as chapel to go into a 'chapel' folder
- [x] add a rule for events tagged as ANY admissions office to go into an 'admissions' folder

Let me know if you need any more information from me!

[2015-01-26 16:46] #41 closed

[2015-01-26 22:11] c-schwarze commented on #48
For the 2nd and 3rd rules, do the 'chapel' and 'admissions' folders go in the year?

/events/2015/chapel/

or /events/chapel/

[2015-01-27 13:54] annmarieven commented on #48
They'll be in the year folders.

[2015-01-27 15:40] c-schwarze commented on #48
Are we going to want these folders to be created automatically?

[2015-01-27 15:51] annmarieven commented on #48
Can we do that? That would be awesome. Otherwise Brooke has to manually build them out every year.

[2015-01-27 17:48] c-schwarze commented on #48
Tinker will create the folder for a submitted event, if the folder does not exist.

Also, the other 3 requests have been completed and tested.

[2015-01-27 20:03] c-schwarze commented on #48
When tinker creates folders for events, they will have the metadata:

Skip-in-breadcrumb = "Yes"

Reopen if there are any issues

[2015-01-27 20:03] #48 closed

[2015-01-28 16:56] annmarieven commented on #47
Done. Closing.

[2015-01-28 16:56] #47 closed

[2015-01-30 15:28] annmarieven opened #49 "Tinker faculty confirmation page"
FOR NEW BIOS - can we change it to:
Congrats!
You've successfully submitted your faculty bio. If you have any questions, feel free to contact your web author.
Thanks for creating your bio!

FOR EDITED BIOS - can we change it to:
You've successfully edited your faculty bio. If you have any questions, feel free to contact your web author.
Thanks for keeping your bio up to date!

[2015-01-30 15:34] annmarieven opened #50 "Image instructions on faculty bio"
Can we add this text under the image selection area for faculty bios?

Is your image a perfect square? Don't forget to crop it at croppola.com. Thanks!

The image chooser and this text should only appear for people with the caps/gs role in banner.

[2015-01-30 17:43] c-schwarze commented on #49
Updated and live.

[2015-01-30 17:43] c-schwarze commented on #50
Updated and live.

[2015-01-30 17:43] #50 closed

[2015-01-30 17:43] #49 closed

[2015-02-03 17:57] a-gundy opened #51 "Events list preview showing incorrect date/time"
@e-jameson,

Brooke sent in this job:
"In Tinker on the events page under Your Events the preview data of date and time for the event is not right, possibly a time zone difference? I have had a few people mention this to me and I just checked my account to confirm it. For example, one of my events has an event date of August 18, 2014 6-8 pm, but the preview data shows Aug 1, 11 pm - Aug 2, 1 am."

[2015-02-03 17:58] a-gundy commented on #51
Footprints job 13871.

[2015-02-03 20:46] c-schwarze commented on #51
I just updated the Events homepage date format.

[2015-02-04 20:47] #51 closed

[2015-02-16 17:13] annmarieven opened #52 "Buy Tickets button"
There is a field on the Tinker form that says "Select a heading for the registration section"

If they choose 'ticketing' can the button say "Buy tickets" instead of "Register"

Let me know if you need any more info.

Thanks!

[2015-02-16 21:07] c-schwarze commented on #52
I updated cascade's format so now selecting "Ticketing" and providing a wufoo code, will display a "Buy Tickets" button.

Let me know if you need anything else.

[2015-02-16 22:09] annmarieven commented on #52
Awesome! Thank you!!!

[2015-02-16 22:09] #52 closed

[2015-02-19 17:41] c-schwarze commented on #46
This is working. Any job posting that expires will automatically trigger tinker to create a redirect to Kelsey's page. It should take about 5 minutes from the expiration to have the redirect created.

[2015-02-19 17:41] #46 closed

[2015-02-19 17:56] c-schwarze commented on #45
I create a page named "basic" within my test folder, where my test folder had the workflow attached.

The email that Cascade gives only contains this snippet of information to create the redirect:
"(Auto Delete and Redirect: basic)".

So this workflow will need to be applied to the global folder, or else we need to have some way to find the page within the file structure. Can we just put the workf

[2015-02-24 22:15] annmarieven commented on #45
We can't put it at the global folder, unfortunately. I thought the email would contain more information. Can you forward me the email that webmaster got?

[2015-02-25 01:41] e-jameson commented on #45
The email did have a link to the asset, but the asset is already deleted by the time it sends the email so you can't look up the page info via the Cascade ID. The link doesn't even work in the browser

[2015-02-25 20:23] e-jameson opened #53 "Don't allow spaces in redirect paths"
Check for spaces in the redirect paths, and maybe strip spaces when a paste happens

[2015-02-25 20:44] annmarieven opened #54 "Faculty category fields"
Can we add a radio button at the bottom of the faculty bio form (before the categories) that says, "I need to change my school and programs that I teach."

By default it should be set to 'no' but if they choose yes, all the category fields should appear.

Let me know if you need more info from me!

[2015-02-26 21:24] c-schwarze commented on #54
This is updated and live. Let me know if you need any modifications to that.

[2015-02-26 21:25] annmarieven commented on #54
Beautiful! Thank you!!

[2015-02-26 21:25] #54 closed

[2015-03-02 20:16] e-jameson opened #55 "Show site nav metadata"
@c-schwarze, can you have Tinker set the "hide-site-nav" metadata option to "Hide" for both Events Faculty Bios, as well as go through and set existing Events/Bios as well?

Let me know if you have any questions

[2015-03-02 22:47] c-schwarze commented on #55
I couldn't find any events that didn't already have the option set to "Hide", so I didn't mess with that. I can do more extensive checking, or if you know of one, that would be helpful.

All Faculty Bios are now set to "Hide".

All future Events/Faculty Bios will be set to "Hide"

[2015-03-03 13:56] annmarieven commented on #55
I just want to make sure that events using the content type 'event with nav' are not hiding site navigation. Events that are in performing and visual arts use this content type.

content type:
https://cms.bethel.edu/entity/open.act?id=6a291d568c5865132786f4d038aa2295&type=contenttype&

page example:
https://www.bethel.edu/events/arts/music/2015/hong-wang-cello--herbert-johnson-piano

[2015-03-03 15:22] c-schwarze commented on #55
Oops. Fixed now.

Events no nav:     "hide-from-nav" = "Hide"

Events with nav:    "hide-from-nav" = "Do not hide"

[2015-03-03 17:15] c-schwarze commented on #55
Changed the wrong metadata field.

It now sets "hide-site-nav" instead of "hide-from-nav"

[2015-03-03 18:12] c-schwarze commented on #55
Events only have the metadata "hide-from-nav". They do now have "hide-site-nav". Is this something we would like to add?

https://cms.bethel.edu/entity/open.act?id=1a525c038c5865135b5a2d9efa247727&type=metadataset&

[2015-03-03 21:04] c-schwarze commented on #55
Jake, the Event No Nav and Event With Nav take care of the site navigation being hidden/shown. This is being done at the configuration set level.

Should be working fine. Let me know if anything needs to change.

[2015-03-05 22:11] annmarieven commented on #45
hmmm.... we'll have to look into this a little more after responsive.

[2015-03-06 18:58] #55 closed

[2015-03-18 15:49] annmarieven opened #56 "New event category"
I added a new event category to the metadata for events. It doesn't look like it's automatically showing up so that's why I'm creating a github :)

https://cms.bethel.edu/entity/open.act?id=1a525c038c5865135b5a2d9efa247727&type=metadataset
In the offices field, I added "Admissions - Undergrad Off-Campus"

[2015-03-18 15:52] c-schwarze commented on #56
I'm not seeing it in the Events metadata...?

https://cms.bethel.edu/entity/edit.act?id=1a525c038c5865135b5a2d9efa247727&type=metadataset

[2015-03-18 15:56] annmarieven commented on #56
hm. well that's a bigger problem then. I added it the first time and it said my edit was successful. But, clearly it's not there...  :) So I just tried AGAIN and it said it was successful but after going back in, it's still not there. :sob:

[2015-03-18 16:05] c-schwarze commented on #56
Hmm. Its happening to me too. :( I don't know whats going on with that. No changes are working.

Also, I see "Admissions - Undergrad Off-Campus Undergraduate" which seems redundant and the same option? should we just change the name of that?

[2015-03-18 16:07] c-schwarze commented on #56
Try using the advanced editor instead of using the text fields/buttons.

[2015-03-18 16:08] annmarieven commented on #56
Ok, that worked. Weird. Thanks for your help :)

[2015-03-18 16:08] #56 closed

[2015-03-18 16:51] annmarieven opened #57 "Event page edits"
From FP job 14230.

When someone makes an edit to an event in Tinker, can the button to edit it again take them to a page that says 'Your edits are pending approval. Please wait until they have been approved before you make additional edits.'

If that doesn't work, another option is to have the edit button update to say "Edits pending approval" and not be clickable.

[2015-03-18 19:56] c-schwarze commented on #57
Updated. If you try to edit an event in a workflow, it will redirect you to https://tinker.bethel.edu/event/in-workflow

Let me know if the text or how this is done should be modified. I can try out the second option, however someone with many events (like a chapel event manager) could slow things down.

[2015-03-20 20:34] #53 closed

[2015-03-20 20:35] e-jameson commented on #57
Assigning to @annmarieven to reply to case 14230.

[2015-03-23 13:07] annmarieven commented on #57
Responded to Brooke.

[2015-03-23 13:07] #57 closed

[2015-04-21 13:27] annmarieven opened #58 "Teaser field on event submission"
Can we make the teaser field required please?

Thank you! :)

[2015-04-21 15:11] c-schwarze commented on #58
Updated.

[2015-04-21 15:11] #58 closed

[2015-04-21 20:53] annmarieven opened #59 "Event content type"
We would like to combine our 'event no nav' and 'event with nav' content types.

Since we have the nav option in the metadata now, I would like to change 'event no nav' to just be called "Event".

I would also like Tinker to know, based on the categories selected, which events should hide navigation or not in the metadata.

Can we do this?

[2015-04-21 20:55] c-schwarze commented on #59
Yep! I'll get that done tomorrow

[2015-04-21 20:56] annmarieven commented on #59
let me know when it's done so I can run some tests through and then combine the content types :) danke!!!

[2015-04-22 22:05] c-schwarze commented on #59
Okay, all events submitted through Tinker will use "event" metadata instead of the "event no nav" or "event with nav".

Already created events should have the "event" metadata. Let me know if you find any that are broken.

[2015-04-24 18:48] annmarieven opened #60 "Faculty bio field requirement"
Can we make the 'choose a heading that best fits your area of discipline' dropdown and subsequent field required?

[2015-04-27 15:50] c-schwarze commented on #60
Updated.

[2015-04-27 15:50] #60 closed

[2015-04-30 18:28] #59 closed

[2015-05-08 14:42] annmarieven opened #61 "Faculty images"
Faculty images loaded through tinker don't have a 'description' which is a required field in Cascade. Can it pull the faculty member's name which is also submitted through Tinker?

Let me know if you need more info from me.

[2015-05-13 16:59] annmarieven opened #62 "Faculty bio edits in workflow"
Hey @c-schwarze, whatever we did with event pages here: https://github.com/betheluniversity/Tinker/issues/57

Can we do that with Faculty bios that are in workflows?

[2015-05-15 16:15] c-varberg commented on #61
It should be working now. It now adds a description based on faculty name and job

[2015-05-15 16:15] #61 closed

[2015-05-18 13:32] annmarieven opened #63 "Faculty bio school and program fields"
Right now the school and program fields are 'hidden' behind a field that asks this question:

I need to change my school and programs that I teach.
Yes  No

---
This is good for bios that are just being edited. However, for people submitting NEW bios, the question doesn't make that much sense. They think nothing has 'changed' for them, so they don't click yes to expand it and select the school/pro

[2015-05-18 14:03] e-jameson opened #64 "Verify username"
@c-schwarze can you write a custom validator to verify the username entered in the Faculty Bio create or edit form is a correct username?

http://wtforms.simplecodes.com/docs/0.6/validators.html

You can make an API call with the value and check the result set. {} means it is invalid.

wsapi.bethel.edu/username/<username>/roles

Username is behind auth: https://confluence.bethel.edu/display/WebSrv

[2015-05-18 18:16] c-schwarze commented on #64
Usernames entered will be validated.

[2015-05-18 18:16] #64 closed

[2015-05-18 18:17] c-schwarze commented on #63
Updated. Let me know if it works how you want it.

[2015-05-19 18:41] e-jameson commented on #63
Looks good.

[2015-05-19 18:41] #63 closed

[2015-05-20 12:53] annmarieven commented on #45
We'll just have their deletions go through an "approval" workflow for now so we can put in a redirect for them.

[2015-05-20 12:54] #45 closed

[2015-05-20 20:44] c-schwarze commented on #62
Updated. Should be the same as event pages.

[2015-05-20 20:44] #62 closed

[2015-05-26 14:18] annmarieven opened #65 "Character limit on faculty bios"
Can we have a 350 character limit on these fields:

areas of expertise
research interests
teaching specialty

[2015-05-26 15:01] c-schwarze commented on #65
done

[2015-05-26 15:01] #65 closed

[2015-05-28 16:22] c-schwarze commented on #43
is this email currently being sent on a job posting unpublish?

[2015-05-28 17:20] annmarieven opened #66 "Tinker faculty bio changes"
## CAS
**New bio**
Confirmation message - tinker.bethel.edu/faculty-bios/confirm-new

- [x] CHANGE TO - "Congrats! You've successfully created a new bio. Since it's a brand new bio, it's been sent for approval but will be ready to view in 2-3 business days. Thanks for creating your bio!"

**Existing bio**
- [x] Bio will auto-publish and trigger the 2 publish sets (Faculty Bio XML, Faculty Listings

[2015-05-28 20:51] annmarieven commented on #43
Yes.

[2015-06-09 14:16] annmarieven commented on #66
I got this message when I edited a caps/gs bio:
https://tinker.bethel.edu/faculty-bios/submit
Congrats!
You've successfully edited your faculty bio. If you have any questions, feel free to contact your web author.
Your bio is currently in a workflow

Thanks for keeping your bio up to date!

----
Can you tell me which schools show that message?

[2015-06-09 14:20] c-schwarze commented on #66
Any edited bio will display that message. Except the "Your bio is currently in a workflow" portion. That will only display when the bio is in a workflow. Which is caps/gs edits.

[2015-06-09 14:26] annmarieven commented on #66
hm.. that seems confusing.

Can we have caps/gs bios say:
"Congrats!
You've successfully edited your bio. You changes have been sent for approval but will be ready to view in 2-3 business days.

Thanks for keeping your bio up to date!"

CAS bios can say:
"Congrats!
You've successfully edited your faculty bio. If you have any questions, feel free to contact your web author.

Thanks for keeping your

[2015-06-09 14:33] c-schwarze commented on #66
What about seminary bios?

[2015-06-09 14:49] annmarieven commented on #66
Ugh. We still don't know what we're doing for Seminary bios. :-P

Let's have them all auto-approve for now and show cas messages. Can we bring this up in our meeting on Thursday?

[2015-06-09 15:53] hamtim commented on #66
This came up at the catalog meeting yesterday. All 3 schools would like
their bios to be approved (knowing this is a change for CAS). We are
waiting on the deans to indicate if there are any additional fields
required for the catalog and to indicate who will be the approver.

----------
Timothy Hammer
Senior Strategist
Web & Creative Services

Bethel University
3900 Bethel Drive
St. Paul, MN 55112

[2015-06-12 14:42] annmarieven opened #67 "Event photo disappears"
From Jan Jessup in job 14953:
Whenever a Tinker user submits an edit to a page to which I've attached a photo, approving the submission reverts to the no-photo original submission. Any work-around for that?

[2015-06-12 18:03] c-schwarze commented on #67
Tinker is doing its job fine. However, if Jan edits a bio and does not publish the Faculty Bio xml, then the bug stated above occurs.

Do we currently have workflows for faculty bios that publish the Faculty Bio xml?

[2015-06-13 00:30] annmarieven commented on #67
This is about events, not faculty bios :)

[2015-06-13 04:12] c-schwarze commented on #67
Oh...awkward. My bad.

[2015-06-15 19:31] c-schwarze opened #68 "Publish Manager Feedback"
Here is a quick creation of a publish manager through tinker.
https://tinker.bethel.edu/publish/

Passing off to @annmarieven for feedback

[2015-06-16 18:40] c-schwarze commented on #67
This should be fixed now.

[2015-06-22 14:10] annmarieven opened #69 "CAS Faculty Bio Process"
What needs to happen to make the CAS faculty bio process be almost identical to CAPS/GS?

They will have different workflows but the process will be the same (they have to go through approvals) for new and editing existing bios.

I can update this document if you want me to if it will help facilitate the change - https://docs.google.com/document/d/1pC5kkm3IhQqpGIcFj-LKXsn2s3BchP8r8SMquFxCw3Y/edit

[2015-06-22 18:13] c-schwarze commented on #69
Just send me the new/updated workflow for CAS bios and I will update Tinker.

[2015-06-23 13:17] annmarieven commented on #69
updated CAS workflow: https://cms.bethel.edu/entity/open.act?id=f1638f598c58651313b6fe6b5ed835c5&type=workflowdefinition

I am also working on updating the google doc I referred to.

[2015-06-23 13:22] annmarieven commented on #66
tinker.bethel.edu/faculty-bios/confirm-new

CHANGE TO - "Congrats! You've successfully created a new bio. Your brand new bio has been sent for approval but will be ready to view in 2-3 business days. Thanks for creating your bio!"

https://tinker.bethel.edu/faculty-bios/confirm-edit
CHANGE TO - "Congrats! You've successfully edited your bio. Your edits have been sent for approval but will be ready

[2015-06-23 13:25] annmarieven commented on #69
Here's the updated document with the correct process:
https://docs.google.com/document/d/1pC5kkm3IhQqpGIcFj-LKXsn2s3BchP8r8SMquFxCw3Y/edit#heading=h.uzkrd948ui4e

Please make sure Tinker is setup this way and let me know if you have any questions :)
Thanks!

[2015-06-24 15:19] c-schwarze commented on #66
updated confirmation texts

[2015-06-24 15:19] c-schwarze commented on #69
CAS should now act the same way as CAPS/GS bios

[2015-06-29 20:24] annmarieven opened #70 "Duplicate Tinker Events"
Is there a way we can have a duplicate button for events? Next to view, edit, delete.

It would duplicate the information and bring them to the edit screen to make any minor tweaks. Then the event would get submitted for approval like a new event.

Let me know if you need more info about this request.

[2015-06-29 22:31] c-schwarze commented on #70
Updated. The new "duplicated" event will be treated as a new event for all workflow purposes.

[2015-07-01 17:27] annmarieven commented on #70
Looks good!

[2015-07-01 17:27] #70 closed

[2015-07-06 13:22] annmarieven opened #71 "Faculty bio username checker"
This person is trying to submit their bio but keeps getting an error.  They just emailed all seminary faculty so can we get this figured out asap?

---------- Forwarded message ----------
From: *Mark Strauss* <m-strauss@bethel.edu>
Date: Thursday, July 2, 2015
Subject: Action Required for Faculty Bios--due July 13
To: Laura Harville <laura-harville@bethel.edu>

Hi Laura,

I don't know what's wrong

[2015-07-06 13:24] annmarieven commented on #71
Remind me.... was the username field being auto populated or something they are entering themselves?

[2015-07-06 13:27] c-schwarze commented on #71
It is something autopopulated if they already have created one. It is then checking to see if the username comes up in...banner?

Do we know his username? That would make this an easy test.

[2015-07-06 13:27] annmarieven commented on #71
If he's creating a brand new one, does he have to enter it himself?

[2015-07-06 13:27] c-schwarze commented on #71
Yes

[2015-07-06 13:28] annmarieven commented on #71
Ah, probably just user error then. mstrauss is the username.

[2015-07-06 13:29] e-jameson commented on #71
Is there a more helpful message we can put there. Maybe like "Enter your BCA username"?

[2015-07-06 13:30] annmarieven commented on #71
Let's just do "Enter your Bethel username." I don't think people know what BCA is.. :)

[2015-07-06 13:33] #71 closed

[2015-07-15 13:10] annmarieven opened #72 "New faculty bio button"
If there is a bio already in their list, can the button for creating a new bio disappear? We're having issues with people submitting multiple bios.

[2015-07-15 13:18] c-schwarze commented on #72
Updated. If a user has ANY bios in their list, the Create New Bio button will disappear.

[2015-07-15 13:18] #72 closed

[2015-07-16 14:14] annmarieven opened #73 "Enter key submission"
Can we turn off the auto submission when someone hits enter?

Thanks!

[2015-07-16 14:20] c-schwarze commented on #73
Updated

[2015-07-16 14:20] #73 closed

[2015-07-20 20:59] c-schwarze commented on #43
I have tried to unpublish a job posting, but no email gets sent to webmaster@bethel.edu...

[2015-08-10 15:48] annmarieven commented on #66
3 minor adjustments.

https://tinker.bethel.edu/faculty-bio/confirm-new
Can there be a little spacing (like on our site between p tags) between the paragraphs?

https://tinker.bethel.edu/faculty-bio/confirm-edit
Move "Thanks for keeping your bio up to date!" to the first paragraph.
Can there be a little spacing (like on our site between p tags) between the paragraphs?
Adjust last sentence to "If y

[2015-08-10 19:56] c-schwarze commented on #66
Updated those 3 requests.

[2015-08-10 19:56] #66 closed

[2015-08-13 20:58] annmarieven opened #74 "Faculty Bio Submission"
Can we make the teaching specialty, research interests, and areas of expertise fields required?

[2015-08-17 14:24] annmarieven opened #75 "Broken link on tinker.bethel.edu"
The faculty bio link on tinker.bethel.edu is broken. (not the top one but the one with the graphic)

Can we also put in a redirect? Cause it looks like people have the broken url (ending in /faculty-bios/ instead of just /faculty-bio/)

[2015-08-17 14:30] c-schwarze commented on #75
Oops. Fixed the link. Do we need to add a redirect if the link is fixed?

[2015-08-17 14:31] annmarieven commented on #75
Yes. People have the old url. Thanks!

[2015-08-17 14:44] c-schwarze commented on #75
No problem! Added redirect.

[2015-08-17 14:44] #75 closed

[2015-08-18 21:47] c-schwarze commented on #74
Yep, just added them.

[2015-08-28 14:14] #67 closed

[2015-08-28 14:14] #74 closed

[2015-09-10 19:59] e-jameson commented on #43
@c-varberg can you look into this more. Let Caleb or myself know if you need help setting up a local copy of Tinker.

[2015-10-08 16:26] c-varberg commented on #43
Hey @annmarieven, I am only seeing two workflows for job postings, 'Archive Job Posting', and 'Publish Job Posting'. Does Archive Job Postings also get called when job postings are unpublished? I don't understand workflows very well, so it may just be I'm looking in the wrong spot haha.

[2015-10-08 18:41] annmarieven commented on #43
The 'Archive Job Posting' workflow automatically unpublishes the job as well. Is that your question?

[2015-10-13 15:16] c-varberg commented on #43
@annmarieven I was wondering what workflow is run when a job is unpublished?

[2015-10-30 20:53] #69 closed

[2015-11-16 15:17] annmarieven opened #77 "Faculty Bio Issues/Questions"
I was watching an admin use Tinker and we ran across a couple of issues/questions.

- [x] job title fields broken
- [x] job title fields required
- [x] usernames
- [ ] new bio button for admin

On some bios, all of the job title fields are expanded and you can't select anything. I also noticed there is a '-select-' option but it doesn't appear as the first, default item in the drop down. Can it? A

[2015-11-16 19:48] annmarieven opened #78 "Tinker Metadata Sync"
Can we add locations to this?
https://github.com/betheluniversity/Tinker/blob/master/tinker/sync/metadata.py

Here are the locations:
https://cms.bethel.edu/entity/open.act?id=98476db08c586513091377e50bd6ef0a&type=structureddatadefinition&

[2015-11-17 22:00] annmarieven commented on #78
The other place it should be synced is here: https://cms.bethel.edu/entity/open.act?id=703ebc8d8c5865132395524d89bfaeb9&type=structureddatadefinition&

Thanks!

[2015-11-17 22:26] c-schwarze commented on #78
Done.

[2015-11-17 22:26] #78 closed

[2015-11-18 17:08] c-schwarze commented on #77
I think that we made the username field required after these were submitted. All bios should have to have the username field filled out. Here is the list of faculty bios that have no username (author field):

/academics/faculty/robey-nathan
/academics/faculty/stoeckman-angela
/academics/faculty/shypulski-eydie
/academics/faculty/lancaster-steven
/academics/faculty/eaton-alex
/academics/faculty/dik

[2015-11-18 19:14] annmarieven commented on #77
@ale73233 can you look up the bios caleb included above? we need to enter usernames into the 'author' field.

In order to find the usernames, go to footprints and open a new job, enter the first and last name into the contact information section and hit enter. this will automatically fill in the username field which you can then copy and paste into the user's bio.

BEFORE you publish them to produ

[2015-11-18 20:12] ale73233 commented on #77
I entered all of the usernames and published them to prod.

[2015-12-03 16:17] c-schwarze commented on #77
@e-jameson could you take a look at this? We just need to add the new bio button for admin

[2015-12-04 15:50] #77 closed

[2016-01-15 17:28] annmarieven opened #84 "Conference & Event Services Email"
we list event-services@bethel.edu as the email in the confirmation email after someone submits an event.

Can we change all places this is listed to conference-event@bethel.edu?

Can we also include the email address anywhere we list the phone number?

Thanks!

[2016-01-21 21:56] c-schwarze opened #88 "Faculty Bio workflow change"
Faculty Bios with "Bethel University" tagged as the school will auto publish.

Faculty Bios with multiple schools selected will be sent to one workflow based upon the schools selected. The hierarchy is as follows:
1) CAS
2) CAPS/GS
3) Seminary

[2016-01-21 21:56] #88 closed

[2016-01-25 15:07] c-schwarze commented on #88
Faculty bios are currently using the School associated with the job titles to send to various workflows. This should be changed to using the Banner roles that Tinker creates.

FACULTY-CAS
FACULTY-CAPS and FACULTY-GS
FACULTY-BSSP and FACULTY-BSSD

[2016-01-28 14:44] c-schwarze commented on #84
Updated.

[2016-01-28 14:44] #84 closed

[2016-02-29 15:04] c-schwarze opened #93 "Publishing in the Future"
Cascade doesn't allow for pages/folders to be published in the future. We would like to add a feature to the publish manager to allow for publishing pages/folders in the future.

We will probably use crontab to run a script every night/hour to check a database which has pages and times to publish.

[2016-03-01 17:51] emily-johnson opened #94 "Cache-test rename :)"
We would like to request that the cache-test be renamed to cache-clear. Thanks much!

Also, why is the Tinker repository capitalized? ;)

[2016-03-01 18:03] emily-johnson commented on #94
@annmarieven says that would be awesome!

[2016-03-01 19:00] c-schwarze commented on #94
That sounds good to me. @nate-li can do this while he is doing the admin blueprint move.

[2016-03-01 19:39] e-jameson commented on #94
@emily-johnson do you speak on behalf of @annmarieven now? :)

I updated the URL to be cache-clear.

[2016-03-01 19:43] emily-johnson commented on #94
Haha that has happened a lot today.. she just makes me do her dirty work ;)

Thanks!

[2016-03-01 20:54] annmarieven commented on #94
Isn't that what students are for?? .... jk! :stuck_out_tongue_winking_eye:

[2016-03-14 14:33] phg49389 opened #102 "Github Reporting"
(This issue was moved from Cascade/Issues because Tinker is where the code for it is being written)

We would like to find a GitHub API that can help us generate useful reporting. Hopefully we can find a Python API. Some examples include:
-     List all users and the number of issues/comments/etc. associated with them for a given date range.
-     Various averages on issues. i.e. average time an i

[2016-03-17 14:01] c-schwarze commented on #94
@nate-li when you get a chance, could you add an interface for this? (as per Eric's comment above)

[2016-03-17 14:02] #68 closed

[2016-03-17 14:04] c-schwarze opened #106 "Redirects and Publish manager forms are broken"
There is some issue with CSRF tokens that needs to be fixed.

[2016-03-17 15:10] c-schwarze commented on #106
I removed all instances of CSRF. it seemed to fix it.

[2016-03-17 15:10] #106 closed

[2016-03-17 18:43] c-schwarze opened #108 "Tinker Design changes"
We are looking to modify some of the design of tinker. Update the nav/title so it doesn't overlap awkwardly. Change the <small> tags we currently use for field descriptions to something larger. Update the default font to bethel fonts. And there are plenty of other modifications.

@josiahtillman want to get started on this when you have a chance?

[2016-03-22 15:51] annmarieven opened #114 "E-Announcement submitter name and email"
I added a name and email field to the data definition. Can these automatically be populated on the Tinker page but hidden?

[2016-03-22 15:58] annmarieven opened #115 "E-announcement past date adjustments"
Users should not be able to change the date field if the date has passed.

Users should not be able to delete an e-announcement if the date has passed.

[2016-03-22 16:01] c-schwarze opened #116 "E-announcement duplicate"
Add a duplicate feature to the homepage (right in between edit and delete).

This is already created for events. Use that as a reference

[2016-03-22 16:02] c-schwarze opened #117 "E-announcement change pages to blocks"
change the submissions to create blocks instead of pages

[2016-03-22 16:06] c-schwarze opened #118 "E-announcement allow user/groups to see e-announcements"
Brooke would like to be able to see the authors of submitted e-announcements. We decided to give her access to the e-announcements in cascade.

Should we add a new group? Or just give her specific access?

[2016-03-22 16:11] c-schwarze opened #119 "E-announcement campaign crontab and authentication"
campaigns need to be called from cron. we also need authentication with that.

[2016-03-22 17:23] annmarieven commented on #43
oops. just saw this. this workflow is what unpublishes jobs: https://cms.bethel.edu/entity/open.act?id=a2d5035f8c5865137eca47069e02533e&type=workflowdefinition

[2016-03-22 19:48] e-jameson commented on #117
e-ann has been updated to use blocks

[2016-03-22 19:48] #117 closed

[2016-03-22 19:48] e-jameson commented on #114
name and email are pulled into the e-ann submission.

[2016-03-22 19:48] #114 closed

[2016-03-23 15:56] e-jameson commented on #115
these chages are done.

[2016-03-23 15:56] #115 closed

[2016-03-24 19:31] annmarieven opened #122 "Tinker Event Editing"
Received this from Ann Gannon (FP job 17182)

---------- Forwarded message ----------
From: Ann Gannon <agannon@bethel.edu>
Date: Wed, Mar 23, 2016 at 10:30 AM
Subject: Re: Change April 5 Triptych: A Reading to April 21
To: Jan Jessup <j-jessup@bethel.edu>

Jan,
When you have a chance...

When I try to go in to edit an accepted event, the form allows me to change
the date, but the time drop down m

[2016-03-30 19:59] nate-li commented on #94
Will do!

[2016-03-30 21:21] c-schwarze commented on #122
Fixed.

[2016-03-30 21:21] #122 closed

[2016-03-31 13:58] annmarieven opened #126 "HTML in e-announcement"
From FP job 17223:
Entered on 03/30/2016 at 16:31:09 CDT (GMT-0500) by Jan Jessup:
Hi team,
I submitted a couple of e-anns today. When I went in to edit them, several
odd characters [ ] had been inserted in various places between words
in the content with no apparent pattern. I typed in all content from
scratch (no copying and pasting).
![image_20160330163109_33387](https://cloud.githubusercontent

[2016-03-31 15:54] c-schwarze commented on #126
I don't see the error on the e-announcement in cascade or in the tinker view. I also copied the text and can't replicate it :(

I will try to spend some time doing research to figure out why this is an issue for Jan

[2016-04-01 16:13] c-schwarze opened #127 "WYSIWYG Issues"
We currently are setting the WYSIWYG format to p tags only.

We are doing this at a global level, so we need to either:
1) find a different WYSIWYG editor
2) find a way to set the WYSIWYG format parameters on a WYSIWYG level (not just a page level)

This should be done to the Events -> Event Description WYSIWYG

[2016-04-11 20:38] c-schwarze commented on #122
wrong issue --ignore that commit

[2016-04-11 20:39] c-schwarze commented on #126
Fixed!

[2016-04-11 20:40] c-schwarze commented on #126
Actually, reopening. @annmarieven could you respond back to Jan?

This issue shouldn't happen again, but it still exists on any current e-announcement

[2016-04-12 21:16] c-schwarze commented on #119
Finished this back on March 30th.

closing now.

[2016-04-12 21:16] #119 closed

[2016-04-19 18:10] emily-johnson opened #135 "bethelnet redirect"
Can you redirect:

https://bethelnet.bethel.edu/gs-students/documents/forms/incomplete
to
https://bethelnet.bethel.edu/gs-students/forms/

Thanks!

[2016-04-19 18:14] emily-johnson commented on #135
and also:

https://bethelnet.bethel.edu/caps-students/documents/forms/incomplete
to
https://bethelnet.bethel.edu/caps-students/forms/

[2016-04-19 19:03] e-jameson commented on #135
these are both done.

[2016-04-19 19:03] #135 closed

[2016-04-25 20:18] emily-johnson opened #136 "Cty Rd E2 alert on Tinker event pages"
Can we add the Cty Rd E2 construction alert that is on the [maps & directions page](https://cms.bethel.edu/entity/edit.act?type=page&id=ba13b80c8c586513100ee2a718241435) to all Tinker pages too? Only events that are on the St. Paul campus I'd assume. Thanks!

[2016-04-25 20:20] emily-johnson commented on #136
moving to cascade repository

[2016-04-25 20:20] #136 closed

[2016-04-27 16:07] emily-johnson opened #137 "Library locations"
The Cascade field/Tinker dropdown for '[on campus location](https://tinker.bethel.edu/event/add)'  should include these 3 options:
Library - Seminary San Diego
Library - Seminary St. Paul
Library - University

They should be listed on the actual event page as their official names:
Bethel University Library
Bethel Seminary Library St. Paul
Bethel Seminary Library San Diego

Thanks!

[2016-04-27 16:35] emily-johnson commented on #137
Now I'm not seeing it on any events

[2016-04-27 18:50] c-schwarze commented on #137
Is this comment supposed to be in another github issue?

[2016-04-28 15:17] emily-johnson commented on #137
Oh oops, yeah haha

[2016-05-05 20:14] #126 closed

[2016-05-05 20:24] e-jameson commented on #118
I gave her access. good for now.

[2016-05-05 20:24] #118 closed

[2016-05-05 20:25] e-jameson commented on #108
closing as this is going to be worked into our big summer project.

[2016-05-05 20:25] #108 closed

[2016-05-19 19:52] kuhste opened #143 "Ticketing - Remove Wufoo Hash Code & add URL"
Can we update the "New Event" portion of tinker. Under "Does your event require registration or payment?" can the "Ticketing" heading option request a URL instead of a wufoo hash code?

We will fill them in with University Tickets Urls, such as: http://betheltickets.universitytickets.com/user_pages/event.asp?id=198&cid=30

Let me know if you need anything else.

sk.

[2016-05-20 17:54] c-schwarze opened #145 "Faculty Bios -- view all for certain users"
Tiffany Cornwell, Josh Manfred, and John Gunther need to be able to view all faculty bios and sort through all schools.

We created a multi-select field to choose schools. Then every bio is sorted into each school they have a job title in (this means they will appear multiple times in the list).

It also include an 'other' category which contains everyone who has the old job title style

[2016-05-25 15:58] c-schwarze commented on #145
A few updates: Changed BU to 'Administration with Faculty Status'
Changed sorting to be last name based
added 'kbierle' and 'aabel' to the view

[2016-05-25 15:58] #145 closed

[2016-05-25 16:09] c-schwarze opened #148 "Faculty bios -- Deactivate in addition to delete"
Normal users shouldn't be able to delete their bio. Instead they should deactivate it.

deactivating should . . .
1) unpublish their bio
2) disallow publishing
3) update the deactivate field

The tinker view should update and show the bio as deactivated

Finally, admins should be able to delete bios as necessary.

[2016-05-27 17:54] c-schwarze commented on #143
Done

[2016-05-27 17:54] #143 closed

[2016-06-03 14:45] e-jameson opened #154 "Deleted event didn't unpublish"
This event was deleted but the page wasn't unpublished. Can we look into why?

`Wed Mar 30 10:27:15 2016: 74f4a9ab8c5865132395524d7b55963f deleted by ach39259 (operationResult){`

[2016-06-15 14:52] emily-johnson opened #155 "Bethel Theatre name"
We need to change "Black Box Theatre" to "Bethel Theatre" (black box is apparently the type of theatre we have, not the name) in the list of locations when creating an event.

If you get us list of events using black box, @kathrynmagnuson and I can go into cascade and update them after the change

Thanks!
Em

[2016-06-15 15:41] c-schwarze commented on #155
It looks like there are no events tagged as "Black Box Theatre".

[2016-06-15 15:48] emily-johnson commented on #155
Oh, well that makes it easier! So can we go ahead with just changing the name then?

[2016-06-15 16:00] c-schwarze commented on #155
Yep! I believe you can update that here: https://cms.bethel.edu/entity/open.act?id=ba1355ea8c586513100ee2a725b9ebea&type=block&

[2016-07-07 13:48] c-schwarze commented on #148
done as of a few weeks ago.

closing

[2016-07-07 13:48] #148 closed

[2016-07-07 13:58] c-schwarze commented on #137
Wow. This slipped through the cracks. Sorry it took so long -_-

You should be able to just update the fields in Cascade via the block maps-directions block: https://cms.bethel.edu/entity/open.act?id=ba1355ea8c586513100ee2a725b9ebea&type=block&

[2016-08-12 19:13] c-schwarze commented on #137
@emily-johnson is this finished?

[2016-08-12 19:18] c-schwarze commented on #94
Closing

[2016-08-12 19:18] #94 closed

[2016-08-30 19:38] c-schwarze commented on #127
We are just going to use what we have. It seems to do the trick.

[2016-08-30 19:38] #127 closed

[2016-08-30 19:39] c-schwarze commented on #116
This will be in the new tinker

[2016-08-30 19:39] #116 closed

[2016-10-26 21:56] e-jameson commented on #93
Cascade is working on adding this so lets implement it ourselves.

[2016-10-26 21:56] #93 closed

[2016-11-09 15:01] c-schwarze opened #196 "Add logout functionality"
We need a way to logout

[2016-11-09 15:05] c-schwarze opened #197 "Side Navigation permissions issues"
Currently, we have no way to nicely manage permissions of the admin menus (since its built in each module's before_request, in the hide/show of the 'Admin' menu, and hide/show for each link).

[2016-11-09 15:11] c-schwarze opened #198 "Cascade Program metadata changes"
Whenever we change the name of our undergrad program metadata, we need to address the Web Author group mapping (we map the metadata to the cascade groups).

Are we able to create a way to automatically change this list when the metadata changes? (We are unable to change group names)

[2016-11-09 17:26] c-schwarze opened #199 "Favicon.ico route failing"
We keep getting sentry errors from people going to tinker.bethel.edu/favicon.ico. We should just make a route for it so the error stops getting created.

[2017-02-10 21:15] phg49389 opened #206 "Unit Testing: robust-ify"
Make the unit tests much more robust; instead of just testing endpoints of a module, it can also check that each respective DB or Cascade object gets updated appropriately so that there's no possibility of silent failures

[2017-02-10 21:17] phg49389 opened #207 "Unit Testing: Pass data between tests"
Find some way to pass test object ids back and forth between unit tests so that the test_sequentially files can be split into individual, granular unit tests.

[2017-02-10 21:18] phg49389 opened #208 "Unit Testing: rerun Travis on timeout error"
Check if any fail/error tests are timeout errors, and if they are, rerun that module

[2017-04-20 18:32] emily-johnson opened #226 "Redirects"
Redirects/rules found while closing the legacy systems ([audit](https://docs.google.com/spreadsheets/d/1S7QhvcAy1aAvzcLf_-QgGRzsbhFftFQwsY2sLUxV1O8/edit#gid=34747613))

- [x] /bsa/exchange
to
https://book-exchange.bethel.edu/

- [x] graduate-back/ _(I'm not sure why it was called this?)_
to
https://www.bethel.edu/graduate/

[2017-04-20 19:02] emily-johnson commented on #226
- [ ] gs.bethel.edu/academics/graduate-testing/mat-flyer.pdf
to
https://www.bethel.edu/graduate/academics/graduate-testing/

[2017-04-20 19:49] emily-johnson commented on #226
- [ ] bsa.bethel.edu/contact-us
to
https://www.bethel.edu/undergrad/bsg/contact/

- [ ] bsa.bethel.edu/contact-us
to
https://www.bethel.edu/undergrad/bsg/

[2017-04-21 21:15] e-jameson commented on #226
These are all done. The BSA ones are already being redirected to WWW, so the redirects can be done in Tinker.

[2017-05-19 14:02] c-schwarze opened #230 "Event/E-annz searching"
Michael Fontaine put the todos here: https://docs.google.com/document/d/1vJVpDgOMbq_HzXMBOPmlV5rHQmIudFL-NCn1NjpRJII/edit?ts=591e040b

[2017-05-30 19:04] kathrynmagnuson commented on #226
@e-jameson can you redirect these?

- [ ] https://bethelnet.bethel.edu/bsoe-faculty/
www.bethel.edu/seminary

- [ ] https://bethelnet.bethel.edu/bsoe-faculty/booklist
www.bethel.edu/seminary

- [ ] https://bethelnet.bethel.edu/bsoe-faculty/locations
www.bethel.edu/seminary

[2017-05-30 20:17] e-jameson commented on #226
@kathrynmagnuson the first three are done, the 4th you should be able to do in Tinker.

[2017-05-30 20:26] emily-johnson commented on #226
Oops, that was mine, didn't realize the rule has gotten it before I copied it in here. Thanks!

[2017-05-30 20:51] kathrynmagnuson commented on #226
@e-jameson can you do a rule for https://bethelnet.bethel.edu/business-office/ to https://www.bethel.edu/business-office/ ? And then we can do the individual ones in tinker.

[2017-05-30 21:05] e-jameson commented on #226
yep, done

[2017-05-31 16:02] c-schwarze opened #231 "Events names"
It appears that the titles of some images are not being created properly through tinker. (notice the space before the image name)
![screen shot 2017-05-31 at 10 51 23 am](https://cloud.githubusercontent.com/assets/7849657/26641566/9df25654-45f0-11e7-8b67-facbfc3d4203.png)

[2017-06-01 19:00] emily-johnson commented on #226
URLs for the **redirects** that we discussed:

- [ ] bsa.bethel.edu/sa/
https://www.bethel.edu/undergrad/bsg/departments/student-activities/

- [ ] bsa.bethel.edu/contact-us
https://www.bethel.edu/undergrad/bsg/contact/

- [ ] bsa.bethel.edu/marketing/
https://www.bethel.edu/undergrad/bsg/departments/communications-marketing/

- [ ] bsa.bethel.edu/leadership/
https://www.bethel.edu/undergrad/bsg/d

[2017-06-01 20:34] emily-johnson commented on #226
Rules:
- [ ] http://caps.bethel.edu/seminars/
https://www.bethel.edu/adult-undergrad/

[2017-06-02 19:56] kathrynmagnuson commented on #226
@e-jameson
- [ ] rule needed for https://bethelnet.bethel.edu/facilities-mgmt/ to https://www.bethel.edu/facilities/

[2017-06-02 20:00] kathrynmagnuson commented on #226
- [ ] https://bethelnet.bethel.edu/academic-affairs/ to https://www.bethel.edu/undergrad/academic-affairs/

[2017-06-02 20:36] e-jameson commented on #226
both are done!

[2017-06-05 15:03] josiahtillman commented on #196
Looks like we will need to create a custom jsp file on the CAS server to allow for logout in Tinker, Classifieds, and Portal.

https://groups.google.com/a/apereo.org/forum/#!topic/cas-user/d8bfgEK-W0U

[2017-06-05 20:41] emily-johnson commented on #226
@e-jameson
Rule:
cas.bethel.edu/actitivies/ to
https://www.bethel.edu/undergrad/

@emily-johnson
Tinker redirects:
undergrad/resources to
https://www.bethel.edu/undergrad/

[2017-06-06 19:38] c-schwarze opened #232 "Act as user"
It would be nice to be able to have an admin interface to act as another user.

We have done this in the portal project already

[2017-06-08 20:36] emily-johnson commented on #226
##cas.bethel.edu redirects
@e-jameson
Pages shouldn’t keep the path for:
- [ ] /dept/stu-org
https://www.bethel.edu/undergrad/bsg/clubs-organizations/academic
- [ ] /dept/anthropology
https://www.bethel.edu/undergrad/academics/anthropology-sociology-reconciliation/
- [ ] /dept/biblical-theological
https://www.bethel.edu/undergrad/academics/biblical-theological/
- [ ] /dept/biochem-molbio
https://w

[2017-06-12 18:17] kathrynmagnuson commented on #226
@e-jameson rule for:

- [ ] https://bethelnet.bethel.edu/bsoe-faculty/ to https://www.bethel.edu/seminary/ (https://bethelnet.bethel.edu/bsoe-faculty/ redirects but none of the other pages in the folder do)

[2017-06-13 20:09] kathrynmagnuson commented on #226
@e-jameson rule for:

- [ ] https://bethelnet.bethel.edu/bsspstudent/index to https://www.bethel.edu/seminary/

[2017-06-14 15:01] c-schwarze commented on #196
Josiah add this. Closing

[2017-06-14 15:01] #196 closed

[2017-06-14 15:28] c-schwarze commented on #199
It might also be wise to look into how other flask applications deal with this?

[2017-06-14 16:12] kathrynmagnuson commented on #226
@e-jameson rule for:

- [ ] https://bethelnet.bethel.edu/purchasing/ to https://www.bethel.edu/purchasing/

[2017-06-16 15:20] kathrynmagnuson commented on #226
# bethelnet.bethel.edu redirects:
@e-jameson pages shouldn't keep path for:

- [ ] ureg/bssd/calendars to https://www.bethel.edu/seminary/academics/calendars/san-diego/

[2017-06-16 16:39] kathrynmagnuson commented on #226
## bethelnet.bethel.edu redirects:
@e-jameson pages shouldn't keep path for:

- [ ] ureg/bssp/graduation to https://www.bethel.edu/registrar/graduation/

- [ ] ureg/bssp/Calendars to https://www.bethel.edu/seminary/academics/calendars/st-paul/

- [ ] ureg/bssp/guide-sheets to https://www.bethel.edu/registrar/registration/seminary/2016-2017/

- [ ] ureg/bssp/schedules/courses to https://www.bethel.

[2017-06-16 18:39] e-jameson commented on #226
these are all done

[2017-06-16 19:22] kathrynmagnuson commented on #226
## bethelnet.bethel.edu redirects:
@e-jameson page shouldn't keep path
- [ ] ureg/bssp/banner to https://www.bethel.edu/registrar/faculty-staff/registration-instructions

[2017-06-16 20:19] kathrynmagnuson commented on #226
## bethelnet.bethel.edu redirects:
@e-jameson pages shouldn't keep path:

- [ ] bsoe-faculty to https://www.bethel.edu/seminary/

- [ ] caps-faculty to https://www.bethel.edu/adult-undergrad/

- [ ] comm-marketing to https://www.bethel.edu/marketing/

[2017-06-16 20:19] kathrynmagnuson commented on #226
redirect rule for:

- [ ] https://bethelnet.bethel.edu/security-safety/security/Clery_Act/index to https://www.bethel.edu/security-safety/policies-statistics

[2017-06-16 20:24] kathrynmagnuson commented on #226
@e-jameson redirect rule for:

- [ ] https://bethelnet.bethel.edu/semprovost/ to https://www.bethel.edu/seminary/

[2017-06-16 20:31] kathrynmagnuson commented on #226
@e-jameson redirect

- [ ] https://bethelnet.bethel.edu/equality-ride/index

 to https://www.bethel.edu/

[2017-06-19 13:54] kathrynmagnuson commented on #226
@e-jameson ghost pages to be closed in silva

- [ ] http://zope1.its.bethel.edu:8080/silva/bethelnet/ureg/bssp/eval_index

- [ ] http://zope1.its.bethel.edu:8080/silva/bethelnet/ureg/bssp/acp

[2017-06-19 14:09] kathrynmagnuson commented on #226
## bethelnet.bethel.edu redirect rule:

@e-jameson pages shouldn't keep path
- [ ] ureg/bssp/forms/ to https://www.bethel.edu/registrar/forms/

[2017-06-19 14:45] kathrynmagnuson commented on #226
- [ ] purchasing/docs to https://www.bethel.edu/purchasing/

[2017-06-19 18:19] kathrynmagnuson commented on #226
@e-jameson redirect for:

- [ ] bethelnet.bethel.edu/a-z to https://www.bethel.edu/offices

[2017-06-19 18:44] kathrynmagnuson commented on #226
## bethelnet.bethel.edu redirect rule:
@e-jameson pages shouldn't follow path for:

- [ ] ureg/bssp/schedules to https://www.bethel.edu/registrar/important-dates-schedules/cohort-schedules

[2017-06-19 19:00] kathrynmagnuson commented on #226
- [ ] /ureg/inmin/forms to https://www.bethel.edu/registrar/forms/

- [ ] ureg/inmin/registration to https://www.bethel.edu/registrar/registration/seminary/

- [ ] ureg/inmin/schedules to https://www.bethel.edu/registrar/registration/seminary/

- [ ] ureg/inmin/graduation to https://www.bethel.edu/seminary/

- [ ] ureg/inmin/guide-sheets to https://www.bethel.edu/registrar/registration/seminary/20

[2017-06-19 19:04] kathrynmagnuson commented on #226
ghost pages - please close! :)

- [ ] http://zope1.its.bethel.edu:8080/silva/bethelnet/ureg/inmin/index/edit/tab_edit

- [ ] http://zope1.its.bethel.edu:8080/silva/bethelnet/ureg/inmin/calendars/edit/tab_edit

- [ ] http://zope1.its.bethel.edu:8080/silva/bethelnet/ureg/inmin/banner/edit/tab_edit

[2017-06-19 19:18] kathrynmagnuson commented on #226
## bethelnet.bethel.edu redirect rule:
pages shouldn't keep path for:
- [ ] caps-students to https://www.bethel.edu/adult-undergrad/

[2017-06-19 20:30] e-jameson commented on #226
@kathrynmagnuson these are all done. This issue is getting pretty long so I'm closing it. Let's start a new one for new rules.

[2017-06-20 14:53] kathrynmagnuson opened #238 "Individual Page Redirects"
## redirects for cas.bethel.edu

- [x] /dept/aesc/Science%20Tutor%20Lab
https://www.bethel.edu/undergrad/academics/support/science

- [x] /dept/aesc/Business%20Lab
https://www.bethel.edu/undergrad/academics/support/business

- [x] /dept/aesc/toc
https://www.bethel.edu/undergrad/academics/support/

- [x] /dept/aesc/copy_of_handouts
https://www.bethel.edu/undergrad/academics/support/study-skills/

[2017-06-20 14:58] kathrynmagnuson commented on #238
- [ ] /dept/aesc/schedule/index
https://www.bethel.edu/undergrad/academics/support/meet-counselor

[2017-06-20 15:48] kathrynmagnuson opened #239 "Redirect Rules"
## batch redirect rules for cas.bethel.edu

- [x] /dept/comm
https://www.bethel.edu/undergrad/academics/communication/

- [x] /dept/environmental-studies
https://www.bethel.edu/undergrad/academics/environmental-studies/

- [x] /dept/history
https://www.bethel.edu/undergrad/academics/history/

- [x] /dept/honors
https://www.bethel.edu/undergrad/academics/honors/

@e-jameson could you check if these

[2017-06-21 20:00] kathrynmagnuson commented on #239
pages shouldn't keep path:
- [ ] explore-connect.bethel.edu
https://www.bethel.edu/

[2017-06-21 20:34] kathrynmagnuson commented on #226
Hey @e-jameson could you take a look at the 3 redirects I un-checked? They don't seem to be redirecting. Thanks!

[2017-06-21 20:38] kathrynmagnuson commented on #239
## cas.bethel.edu
pages shouldn't keep path
- [ ] /dept/nehtocqueville/
https://www.bethel.edu/

[2017-06-21 20:55] e-jameson commented on #226
Yep --

- ureg/inmin/forms to https://www.bethel.edu/registrar/forms/
 and
- ureg/inmin/registration to https://www.bethel.edu/registrar/registration/seminary/

are redirecting for me. Try clearing your cache or an incognito window.

- caps-students to https://www.bethel.edu/adult-undergrad/

should now be working

[2017-06-22 19:47] e-jameson commented on #239
These are done. explore-connect.bethel.edu doesn't exist so I didn't do anything with it.

[2017-06-22 20:02] e-jameson commented on #238
These are done!

[2017-06-23 15:13] kathrynmagnuson commented on #239
## bethelnet.bethel.edu redirects:

- [ ] /caps-faculty
https://www.bethel.edu/graduate/

- [ ] /caps-students
https://www.bethel.edu/graduate/

- [ ] /cas-faculty
https://www.bethel.edu/undergrad/

[2017-06-23 15:20] kathrynmagnuson commented on #239
- [ ] /gs-students
https://www.bethel.edu/graduate/

- [ ] /gs-faculty
https://www.bethel.edu/graduate/

[2017-06-23 15:31] kathrynmagnuson commented on #239
- [ ] /semfac
https://www.bethel.edu/seminary/

[2017-06-23 15:44] kathrynmagnuson commented on #239
- [ ] /student-life
https://www.bethel.edu/undergrad/student-life/

[2017-06-23 15:47] kathrynmagnuson commented on #239
- [ ] /semprovost
https://www.bethel.edu/seminary/

[2017-06-26 13:57] kathrynmagnuson commented on #239
@e-jameson above are a few more redirects. Thanks!

[2017-06-26 15:02] kathrynmagnuson commented on #226
@e-jameson hmmm ok, for me /ureg/inmin/forms goes to /registrar/inmin/forms (keeping the 'inmin' when it shouldn't & giving a 404 (Same with the /registration one). But if it's working for you then it's probably my cache :) The caps-students redirect is working for me though

[2017-06-26 15:04] e-jameson commented on #226
I just confirmed it an Incognito window and they seem to be working correctly

[2017-06-26 15:40] kathrynmagnuson commented on #239
## bethelnet.bethel.edu redirects:

- [ ] /faculty
https://www.bethel.edu/

[2017-06-28 19:11] kathrynmagnuson commented on #239
@e-jameson there is currently a rule:
bethelnet.bethel.edu/academic-affairs to bethel.edu/undergrad/academic-affairs but we need the following page to _not_ redirect:

- [ ] https://bethelnet.bethel.edu/academic-affairs/caps-gs/coursedevelopment/addendum

[2017-06-28 19:26] bak45247 commented on #231
This bug was caused by an unnecessary space before his last name in the faculty bios form.

[2017-06-28 19:31] e-jameson commented on #231
Can we update the controller to strip leading spaces before fields?

[2017-06-28 19:42] bak45247 commented on #231
yes

[2017-06-28 20:12] e-jameson commented on #239
This is done. People will need to clear their cache before it will work again

[2017-06-29 14:48] kathrynmagnuson commented on #238
- [ ] bethelnet.bethel.edu/ureg/cas/faculty/Course_Progress_Report.pdf
 https://beacon-cas.bethel.edu/

[2017-06-29 15:24] kathrynmagnuson commented on #239
@e-jameson can you put these redirects in after any that are already there? (some pages are already redirecting to various places and that's fine, we just want what isn't redirecting to go to the home pages) If you need clarification or if that's not possible let me know - thanks!
- [ ] seminary.bethel.edu
https://www.bethel.edu/seminary/

- [ ] gs.bethel.edu
https://www.bethel.edu/graduate/

[2017-06-29 18:20] phg49389 commented on #206
I'm going to start working on this soon as part of my Testing Suite refactor. What are currently called "Unit Tests" will be renamed to "Integration Tests" and then the framework for proper Unit Tests will be written.

[2017-06-29 19:08] e-jameson commented on #239
The rest of these are done too. Lets start a new one again :)

[2017-06-30 13:51] bak45247 commented on #197
for this 'fix' are we looking to have one 'admin-permissions' file that all the before_request methods would call?

[2017-06-30 15:35] kathrynmagnuson opened #243 "Redirect Rules"
## cas.bethel.edu redirects
pages shouldn't keep path

- [x] /dept/physics
https://www.bethel.edu/undergrad/academics/physics/

[2017-06-30 15:41] kathrynmagnuson commented on #238
- [ ] cas.bethel.edu/dept/dept/music/adjunct
https://www.bethel.edu/undergrad/academics/music/faculty

[2017-06-30 15:43] kathrynmagnuson commented on #243
- [ ] /dept/music/adjunct
https://www.bethel.edu/undergrad/academics/music/
*there is one page that needs a specific redirect (see individual page redirects issue), but the rest should go here without keeping the path, if that's possible.

[2017-06-30 15:56] kathrynmagnuson commented on #238
- [ ] /dept/mw-languages/ppt-accents
https://www.bethel.edu/undergrad/academics/world-languages/language-placement/typing-foreign-accents.pdf

- [ ] /dept/mw-languages/word-accent
https://www.bethel.edu/undergrad/academics/world-languages/language-placement/typing-foreign-accents.pdf

[2017-06-30 16:07] kathrynmagnuson commented on #238
- [ ] /dept/philosophy/staff-shady
https://www.bethel.edu/academics/faculty/shady-sara

- [ ] /dept/philosophy/staff-yim
https://www.bethel.edu/academics/faculty/yim-daniel

- [ ] /dept/philosophy/staff-peffley
https://www.bethel.edu/academics/faculty/peffley-carrie

- [ ] /dept/philosophy/staff-reasoner
https://www.bethel.edu/academics/faculty/reasoner-paul

[2017-06-30 16:19] kathrynmagnuson commented on #238
- [ ] /dept/political-science/vangeest
https://www.bethel.edu/academics/faculty/vangeest-fred

- [ ] /dept/political-science/cmoore
https://www.bethel.edu/academics/faculty/moore-christopher

[2017-06-30 16:20] kathrynmagnuson commented on #243
- [ ] /dept/political-science
https://www.bethel.edu/undergrad/academics/political-science/
(except for 2 pages in individual page redirects issue that need to go to specific pages)

[2017-06-30 17:19] kathrynmagnuson commented on #243
- [ ] /dept/religious-studies
https://www.bethel.edu/undergrad/academics/biblical-theological/

[2017-06-30 17:24] kathrynmagnuson commented on #243
- [ ] /dept/psychology/MA
https://www.bethel.edu/graduate/academics/counseling/

[2017-06-30 18:13] kathrynmagnuson commented on #243
- [ ] /dept/science-ed
https://www.bethel.edu/undergrad/academics/biology/majors-minors/life-science-education

[2017-06-30 18:23] kathrynmagnuson commented on #238
- [ ] /dept/theatre/faculty
https://www.bethel.edu/undergrad/academics/theatre/faculty

- [ ] /dept/theatre/archive
https://www.bethel.edu/undergrad/academics/theatre/past-productions/

[2017-06-30 18:24] kathrynmagnuson commented on #243
- [ ] /dept/theatre
https://www.bethel.edu/undergrad/academics/theatre/
(except for 2 pages in "individual page redirects" issue that need to go to specific pages)

[2017-06-30 19:34] kathrynmagnuson commented on #238
@e-jameson here's the next batch of redirects! We're getting close to being done! :)

[2017-06-30 19:35] kathrynmagnuson commented on #243
@e-jameson here are a few more rules

[2017-07-05 15:24] kathrynmagnuson commented on #243
## bethelnet.bethel.edu redirects:

- [ ] /hr/forms
https://www.bethel.edu/human-resources/forms/

- [ ] /hr/recognition
https://www.bethel.edu/human-resources/recognition/

- [ ] /hr/training
https://www.bethel.edu/human-resources/

- [ ] /hr/supervisor-toolkit
https://www.bethel.edu/human-resources/employee-resources/supervisor-toolkit/

[2017-07-05 15:24] e-jameson commented on #197
I'm guessing Caleb didn't have something in mind, so we can kind of be creative here. One thought is, what if there was a parent function in `TinkerController` file and the `before_request` for each module passed some info in, like what types of groups or people are allowed access. And then all the logic is in the function in `TinkerController`. That would consolidate logic and the modules would o

[2017-07-05 15:27] kathrynmagnuson commented on #238
## bethelnet.bethel.edu:

- [ ] /human-resources/current-employees/training
https://www.bethel.edu/human-resources/employee-resources/current-employee-toolkit/

- [ ] /human-resources/current-employees/employee-leadership-institute
https://www.bethel.edu/human-resources/employee-resources/current-employee-toolkit/

[2017-07-05 15:47] kathrynmagnuson commented on #243
- [ ] /hr/your-hr-news
https://www.bethel.edu/human-resources/

- [ ] /hr/opportunities
https://www.bethel.edu/human-resources/

[2017-07-05 15:50] kathrynmagnuson commented on #238
- [ ] /hr/benefits-announcements
https://www.bethel.edu/human-resources/

- [ ] /hr/United-Way
https://www.bethel.edu/human-resources/

- [ ] /hr/technical-training-hr
https://www.bethel.edu/human-resources/

- [ ] /hr/training-recordings
https://www.bethel.edu/human-resources/

- [ ] /hr/training-resources
https://www.bethel.edu/human-resources/

[2017-07-05 15:53] bak45247 commented on #197
i actually just made a new .py file containing basically all of the permissions from the before_requests that each module calls

[2017-07-05 16:50] kathrynmagnuson commented on #243
## cas.bethel.edu redirects:

- [ ] /dept/math-cs
https://www.bethel.edu/undergrad/academics/math-cs/

[2017-07-05 19:40] #239 closed

[2017-07-05 20:00] e-jameson commented on #243
these are done

[2017-07-05 20:05] kathrynmagnuson commented on #243
## www.bethel.edu redirects:

- [ ] /campus-store
http://bookstore.bethel.edu

[2017-07-05 20:05] e-jameson commented on #238
these are done. lets start a new issue

[2017-07-05 20:05] #238 closed

[2017-07-05 20:11] bak45247 commented on #197
i moved the contents of the new .py file over to the tinker controller

[2017-07-05 20:35] kathrynmagnuson commented on #243
## www.bethel.edu redirects:

- [ ] /publications-archive/bethel-investor
https://www.bethel.edu/news/publications/bethel-investor/

- [ ] /publications-archive/parent
https://www.bethel.edu/news/publications/bethel-parent/

- [ ] /publications-archive/magazine
https://www.bethel.edu/news/publications/bethel-magazine/

Note: I think there is currently a rule for /publications-archive/ to https://w

[2017-07-06 13:57] kathrynmagnuson opened #244 "Individual Page Redirects"
## cas.bethel.edu redirects

- [x] /dept/history/fac/g-carlson
https://www.bethel.edu/undergrad/academics/history/faculty

- [ ] /dept/history/fac/k-cragg
https://www.bethel.edu/undergrad/academics/history/faculty

- [ ] /dept/history/fac/c-gehrz
https://www.bethel.edu/academics/faculty/gehrz-christopher

- [ ] /dept/history/fac/d-magnuson
https://www.bethel.edu/academics/faculty/magnuson-diana

-

[2017-07-06 14:18] kathrynmagnuson commented on #243
## cas.bethel.edu redirects

- [ ] /dept/comm/forensics
https://www.bethel.edu/undergrad/academics/communication/forensics/

- [ ] /dept/comm/europe
https://www.bethel.edu/undergrad/academics/communication/europe-term

After these redirects, the rest should go to the main comm page without keeping the path:
- [ ] /dept/comm
https://www.bethel.edu/undergrad/academics/communication/

[2017-07-06 14:29] kathrynmagnuson commented on #244
- [ ] /dept/comm/faculty/index
https://www.bethel.edu/undergrad/academics/communication/faculty

- [ ] /dept/comm/faculty/l-frazier
https://www.bethel.edu/academics/faculty/frazier-leta

- [ ] /dept/comm/faculty/m-dreher
https://www.bethel.edu/academics/faculty/dreher-michael

- [ ] /dept/comm/faculty/s-sochay
https://www.bethel.edu/academics/faculty/sochay-scott

- [ ] /dept/comm/faculty/p-kendal

[2017-07-06 18:38] kathrynmagnuson commented on #226
@e-jameson Are the redirects on this page for the aesc working for you? They aren't for Em & me.

[2017-07-07 14:09] kathrynmagnuson commented on #243
## bethelnet.bethel.edu redirects

(pages shouldn't follow path)
- [ ] /hr/news/
https://www.bethel.edu/human-resources/news/hr-news-archive

[2017-07-12 18:24] kathrynmagnuson commented on #243
## www.bethel.edu redirect
batch redirect/don't follow path for
- [ ] /self-study
https://www.bethel.edu/

[2017-07-12 18:38] kathrynmagnuson commented on #243
## www.business-office folder redirects
batch redirect/pages shouldn't keep path
- [ ] /cas
https://www.bethel.edu/business-office/payment-plans/undergrad
- [ ] /caps
https://www.bethel.edu/business-office/payment-plans/graduate-adult-undergrad
- [ ] /gs
https://www.bethel.edu/business-office/payment-plans/graduate-adult-undergrad
- [ ] /seminary
https://www.bethel.edu/business-office/payment-plan

[2017-07-12 20:29] kathrynmagnuson commented on #243
## www.bethel.edu redirect
pages shouldn't keep path
- [ ] /bethel-news
https://www.bethel.edu/news/

[2017-07-12 20:43] e-jameson commented on #243
These are all done, aside from /dept/comm/forensics and /dept/comm/.

I'm going to close this issue. Go ahead and add those to a new issue when they are ready to be created.

[2017-07-12 20:43] #243 closed

[2017-07-12 21:00] e-jameson commented on #244
done

[2017-07-14 19:14] emily-johnson opened #248 "Events error - Maps & Location"
Events that link to a specific location in Maps & Directions are producing an error when you try to preview it in Cascade, and are not being pulled in to event feeds.

Just editing the page, not changing anything and resubmitting fixes the issue

[2017-07-17 20:11] emily-johnson commented on #248
This issue is also occurring in faculty bios since they use the same encoding/decoding methods

https://cms.bethel.edu/entity/open.act?id=603959718c5865137c9c2c8903a818bf&type=page&

[2017-07-18 21:36] c-schwarze opened #250 "Events (and e-annz)"
Brooke would like a feature for events where your last searched fields are saved the next time you search.

I think we should be able to store this via cookies or even the session.

[2017-07-19 19:12] e-jameson commented on #226
They are working for me. Can you double check @kathrynmagnuson @emily-johnson

[2017-07-20 20:42] kathrynmagnuson commented on #226
@e-jameson the aesc redirects are all going to bethel.edu now for me (instead of the link under each one)

[2017-07-20 22:01] e-jameson commented on #226
I fixed something and confirmed they all work except for the ones with the %20 (spaces). We are going to just leave those going to the homepage as Apache is weird about spaces and URLs.

[2017-07-20 22:01] #226 closed

[2017-08-14 15:25] c-schwarze opened #254 "Faculty Bios Remove Any Job Title"
If a faculty bio has many job titles, it is hard to remove the first job title, since you have to remove all of the other ones first. We should add a way to delete any job title.

Events currently has this done for event dates.

[2017-08-15 21:02] c-schwarze opened #255 "Sync metadata isn't doing a git pull on prod"

[2017-08-16 21:13] phg49389 commented on #206
PR#256 should take care of this.

[2017-08-16 21:13] #206 closed

[2017-08-16 21:14] phg49389 commented on #207
What I know now is that what I had referred to as "unit tests" were in fact integration tests, and the unit tests being added in PR#256 are granular like we had desired, and this is no longer an issue.

[2017-08-16 21:14] #207 closed

[2017-08-16 21:20] #197 closed

[2017-08-17 20:52] phg49389 commented on #255
It looks like tinker/tinker/admin/sync/__init__.py has the git_pull() calls commented out since they were breaking tinkerXP. The method itself is located in tinker/tinker/admin/sync/sync_controller.py. Perhaps the fix we need is to call "git branch" and check if it's on master branch, and only if it is do we call "sudo -u apache git pull"?

[2017-08-17 20:56] phg49389 commented on #199
I think Boston fixed it on this commit: https://github.com/betheluniversity/tinker/commit/fb4fc3480cf62e61aa2dc9c9870416f587d728be

[2017-08-31 16:35] c-schwarze commented on #232
Done

[2017-08-31 16:35] #232 closed

[2017-09-06 17:26] c-schwarze opened #258 "Add cacheing!"

[2017-10-02 18:52] c-schwarze opened #260 "Rotate Program Search app.db"
Currently we are only storing 1 hours worth of the app.db. We really should hold 2 weeks worth or so for every hour. Or every 6 hours or something.

[2017-10-02 21:14] c-schwarze commented on #199
yeah closing

[2017-10-02 21:14] #199 closed

[2017-10-02 21:32] c-schwarze opened #261 "Redirects for other sites than www.bethel.edu"
We want to change redirects so they can be added to other domains than www.bethel.edu. (mybethel.edu, etc.).

It might be worth upkeeping a select field so that when redirects are added, they don't have to be manually typed with the potential of spelling errors. I think we can still use the same redirects.txt file.

@bak45247 This can be your next project, as you already have been working on redir

[2017-10-03 14:12] e-jameson commented on #261
We would need one file for each domain.

We could also look into loading the redirects from a DB instead of txt file on RHEL7 servers. I believe the Apache version on RHEL7 supports that feature.

[2017-10-03 14:46] c-schwarze commented on #261
Bummer. I assume we just add more lines of these? I'm a little confused how this will be able to affect other domains on other vhosts (like classifieds).

[code]

I would propose we wait to load redirects from a DB, until Tinker is on a RHEL7 box.

[2017-10-03 14:55] e-jameson commented on #261
If you look at the file, the format for each line is for a `RewriteMap` file is

`/id-cards https://confluence.bethel.edu/x/AwAt`

The left side is the path that should be redirected, the right side is where it should go. This is why the format of the Tinker Redirects module is how it is. The domain is assumed to be whatever domain Apache is currently dealing with. So using the same file means tha

[2017-10-03 15:03] c-schwarze commented on #261
Sure. But how do we link from h13's apache to h24's mybethel-redirects.txt file? Also it looks like /opt/tinker/tinker/redirects.txt is empty? Does apache consume the file?

Again, I think I am just misunderstanding you. I thought you were saying that apache on RHEL7 supports loading from a DB. So my concern was having our redirects needing to work for both a redirects.txt file and a DB (depending

[2017-10-03 15:23] e-jameson commented on #261
The path for the redirects file is `/var/www/cms.pub/redirects/redirects.txt`. It's in cms.pub so it can stay in sync between h24 and h20.

You are right, we'd have to use sftp or something to sync a txt or db-type file from h24 to the other servers that need a redirects file. Check out all the options:

https://httpd.apache.org/docs/trunk/rewrite/rewritemap.html#page-header

It's possible we coul

[2017-10-03 15:28] c-schwarze commented on #261
That makes sense. I am all for getting rid of the .txt file. I think its worth pursuing and it might be a great topic for Monday, just cause.

[2017-10-03 15:29] c-schwarze commented on #261
I kind of like the idea of using a single db, but use a mysql query.

[2017-10-04 16:25] c-schwarze commented on #260
I am currently running a cron every 6 hours that runs a script which stores a db dump of app.db and then deletes any file in the db_backup folder that is older than 2 weeks.

[2017-10-04 16:25] #260 closed

[2017-10-04 16:34] c-schwarze commented on #254
Part 2 of this is to be able to reorder them.

[2017-10-04 19:04] c-schwarze commented on #43
@e-jameson I think this can be removed, as we have the new HR job app thing. Right?

[2017-10-04 19:12] c-schwarze commented on #230
The events functionality is pretty much done. The e-annz portion may have been started, but it is not live.

[2017-10-05 14:34] c-schwarze commented on #260
rotate_db_file.sh
[code]

cron
[code]

[2017-10-05 14:36] #43 closed

[2017-10-10 19:05] c-schwarze commented on #255
Added that back in.

Closing

[2017-10-10 19:05] #255 closed

[2017-11-01 20:24] phg49389 commented on #208
This cannot be done. I just tested out how it would have to be done, but Travis CI prevents write permissions necessary to scan the output for any Timeout errors. Closing.

[2017-11-01 20:24] #208 closed

[2017-12-05 22:34] c-schwarze opened #268 "Events - Location Modifications"
Brooke has a list of modifications that will help out users.

1) Change "On campus location" to be exclusive from "Other on campus location". Maybe add "other on campus location" to the select.
2) Add a note for the "on campus location" field to note that it automatically links to maps.bethel.edu
3) Update the location listing (caleb is working on this)

[2017-12-06 17:46] #248 closed

[2017-12-06 17:46] c-schwarze commented on #137
closing. we are changing the values of the field to what brooke jameson wants.

[2017-12-06 17:46] #137 closed

[2017-12-06 17:47] c-schwarze commented on #244
@e-jameson where is this at?

[2017-12-06 17:48] c-schwarze commented on #231
@tim-heck want to take a look at this? Run some tests and see if you can reproduce it

[2017-12-11 17:17] c-schwarze opened #271 "Redirects - need to add timestamps"
We should add timestamps to redirects to know when they were added. We could consider displaying the data, but just storing the data is great.

[2017-12-11 19:20] c-schwarze commented on #268
2 and 3 are completed and live.

[2017-12-11 19:50] c-schwarze opened #272 "Redirects - homepage redirect"
We shouldn't have a redirect from the homepage go to any other page - so lets add in a check to make sure that can't happen

[2017-12-11 19:52] c-schwarze opened #273 "Redirects - Slow and Buggy"
The redirects sometimes clears out values seemingly randomly. It also is pretty slow and feels clunky. We should clean this up.

[2017-12-12 17:06] c-schwarze opened #274 "Redirects - Edit"
It would be nice to be able to edit redirects

[2017-12-12 17:07] c-schwarze opened #275 "Redirects - Documentation"
There have been a lot of questions about redirects recently. Also, things like the "to URL" are not always filled out correctly. Its confusing since the first is a relative path, and the 2nd is the full url with domain name.

[2017-12-13 16:58] c-schwarze opened #276 "Redirects Check Sync - sentry issue"
Remove sentry from this sync. We don't really care about these errors.

[2018-01-05 23:11] c-schwarze commented on #231
I believe Tim Heck fixed this before he left. I forgot to be closed.

[2018-01-05 23:11] #231 closed

[2018-01-10 16:43] c-schwarze opened #278 "Faculty Bio Cascade Groups"
These cascade groups aren't very specific. We could clear up a lot of confusion by renaming these to be more specific.

[2018-01-23 18:49] c-schwarze commented on #154
We haven't seen this happen for a year and a half.

closing

[2018-01-23 18:49] #154 closed

[2018-02-06 15:07] c-schwarze commented on #276
IT WORKS!

[2018-02-06 15:07] #276 closed

[2018-02-06 15:16] c-schwarze commented on #250
This should be completed after #230 is completed

[2018-02-06 15:18] c-schwarze opened #281 "Program Search Tags - Front End Cleanup"
@josiahtillman I already passed this on to you, but I am making a github issue for it so it doesn't get lost. When you have a chance, could you post the todos for this?

It feels buggy.
The form doesn't make much sense currently - its hard to know when you are searching or creating.

[2018-02-06 15:19] #244 closed

[2018-02-07 16:46] c-schwarze commented on #268
@j-jasik I'm going to assign this to you.

1) Create a ~/Sites directory (this will be where all of your repos go.
2) Clone Tinker's repository at
3) Create a virtual env for Tinker.
4) Get configs setup
5) Change "On campus location" to be exclusive from "Other on campus location". Maybe add "other on campus location" to the select.

[2018-02-08 22:54] c-schwarze commented on #271
@j-jasik Want to work on this after your current project?

[2018-03-13 19:03] c-schwarze commented on #258
This was added by Boston.

Closing

[2018-03-13 19:03] #258 closed

[2018-03-15 15:36] c-schwarze commented on #198
This is going to be nasty.

Inputs: Mapping(select) | Old Value(text) | New Value(text)
* make sure to show which assets the mapping impacts.

We could probably use Cascade's search to search for the Old Value. Then we loop over the returned values. searching for the applicable identifiers, if any contain the Old Value, remove that and add the New Value.

[2018-03-15 15:46] c-schwarze commented on #274
@josiahtillman, #281 any front end changes should probably be included in the other admin modules like this one.

[2018-03-19 14:23] c-schwarze commented on #254
@lijosh000 You can take this over when you are ready. Try to start it by the end of the week, and let me know so I can help you get your environment setup.

[2018-04-02 15:03] c-schwarze opened #292 "Tinker Apache Redirect Script"
If there is no content, don't send an email. Since we are currently sending the email through apache, I believe we will want to consider sending an email through python, or have more logic in the script to check content via bash.

[2018-04-11 21:43] #272 closed

[2018-04-11 21:43] #273 closed

[2018-04-19 15:26] c-schwarze commented on #261
@j-jasik you can get started on this. You should be able to do a good amount of the work before we decide how we want to output the data.

Feel free to read eric and i's conversation above.

[2018-04-26 16:16] #274 closed

[2018-04-26 18:11] c-schwarze commented on #198
The PR for this is at: #290

[2018-05-11 20:38] c-schwarze commented on #275
@j-jasik added some documentation with the domain redirect addition that will soon be added. I will go ahead and close this.

[2018-05-11 20:38] #275 closed

[2018-05-25 20:38] c-schwarze commented on #292
I updated the bash script on both prod and xp to check the value for "empty" - if so don't send email.

[2018-05-25 20:38] #292 closed

[2018-06-11 16:38] j-jasik opened #297 "Pagination needed for E-Announcements ALL"
When All E-Announcements are viewed they are all loaded to the page, which makes it a gigantic page that is very laggy. The view should be updated to have pages displaying only a certain number at a time.

[2018-06-11 17:56] c-schwarze commented on #297
This might also be good for Events

[2018-06-12 21:26] c-schwarze opened #299 "Faculty Bio Job Title Issues"
Emily had a weird instance happen to her, where only a single job title appears in the tinker view, however it looks fine in Cascade (showing the correct number of job titles).

This one might be a tough one to debug, but I am recording it here in case someone needs something to do.

[2018-06-12 22:01] c-schwarze opened #300 "Tinker Event Author Issues"
Jan says that multiple authors for tinker events are getting cleared out on tinker submissions. We allow multiple authors for tinker events so that each author is able to view the event.

This is C&M FP case# 24139.

[2018-06-12 22:04] c-schwarze opened #301 "Office Hours"
We have yet to launch office hours as a module in tinker. There are still a few thing left to do.

* Clean up the display on the main website - including holiday and exception text.
* Clean up the tinker form
* Make sure the permissions are good to go.

[2018-06-12 22:08] c-schwarze opened #302 "Proof Points"
This is a low priority at the moment. Before starting with this project, talk with Mike Vedders.

Marketing would like to have a way to manage the history of proof points. This may or may not become a tinker module.

Key features
* add a link field for proof points (this should be grouped with the "data" in some way)
* maintain the history of proof points
* be able to expire or "rotate" those info

[2018-06-15 20:11] c-schwarze opened #304 "Unit Testing"
We should get unit testing back up and running. I'm just adding this here as a reminder.

[2018-06-15 20:17] c-schwarze commented on #261
#294 is the PR for this

[2018-06-15 20:18] c-schwarze commented on #304
We will want to glance through most of the unit tests, just to make sure they are all up to date.

[2018-07-10 17:55] c-schwarze commented on #302
We talked about this in our cascade meeting.

We have decided to use the current features. We are using cascade's archive and cascade's version history to view old proof points

[2018-07-10 17:55] #302 closed

[2018-07-10 18:57] c-schwarze commented on #300
Fixed the issue.

Closing

[2018-07-10 18:57] #300 closed

[2018-07-10 19:14] c-schwarze commented on #261
We are just waiting on Sysadmin to get us a good way to move the files regularly. IT FP case # 188656

[2018-07-10 19:18] c-schwarze commented on #230
Jordan launched this a month ago.

[2018-07-10 19:18] #230 closed

[2018-07-10 19:19] c-schwarze commented on #250
#230 is finished. This can be done whenever.

[2018-07-26 18:11] c-schwarze opened #307 "Local Testing"
Submission of events/faculty bios/e-announcements seem to always fail validation tests.

We should fix how this is handled. We could just check for a dev env, but then locally we can't test the full validation submission process.

[2018-09-07 21:12] c-schwarze opened #316 "Events can be submitted without end dates?"
It looks like someone submitted an event without an end date

https://sentry.io/bethel-university/tinker/issues/661665205/?referrer=slack

@j-jasik want to take a look at this next time you are in? I want to try to pass you more "random" requests/issues that come in.

[2018-09-07 21:40] j-jasik commented on #316
Yeah I'll definitely take a look as soon as I can.

On Fri, Sep 7, 2018, 4:12 PM Caleb Schwarze <notifications@github.com>
wrote:

[2018-09-12 16:24] c-schwarze opened #317 "Remove"

[2018-09-12 16:26] c-schwarze opened #318 "Faculty Bios - Remove "None" as an option for schools"
title says it all

[2018-09-12 16:26] c-schwarze commented on #317
this was an accident. closing

[2018-09-12 16:26] #317 closed

[2018-09-12 21:22] #318 closed, assigned to nobody

[2018-09-13 16:38] j-jasik commented on #316
After looking into this error I was unable to replicate the conditions to make it happen. The error appears at a point in the code (get_year_folder_value in events_controller.py) when the end date should be a valid value, even if the user checks the box for "no end date". Further, the front end does not allow users to submit a new event with an empty end date field AND without checking the box for

[2018-09-18 19:06] c-schwarze opened #319 "Events - make the "questions" field required"
This needs to be done in Tinker, and in cascade.

[2018-09-20 22:18] c-schwarze opened #320 "Give the help desk staff access to User Roles"
The Help Desk should be able to act as a user. I think this enable them to debug things a bit further, as none of them can even see the faculty bio sections. We should also protect the other areas of admin functionality from them, just in case they misclick or want to see what something does. Or something along those lines.

[2018-09-28 21:38] c-schwarze opened #322 "Faculty Bios - job title radio buttons"
The radio buttons in the job title when you load the data by doing an "edit", sometimes show multiple radio buttons, when it should only show one.

[2018-09-28 21:43] c-schwarze commented on #102
We moved away from needing this, as both the Dashboard project has been put on hold AND we don't use github for as many things as we used to.

[2018-09-28 21:43] #102 closed

[2018-10-05 18:53] c-schwarze commented on #198
This was merged in a while ago

[2018-10-05 18:53] #198 closed

[2018-11-07 23:33] c-schwarze opened #326 "SFTP Cleanup"
Due to some of the quick fix work we had to do for SFTP stuff, we should swing back to this and clean up the mess. I did some of the work - so it uses the same logic. But the config names and paths vary.

[2018-11-27 18:39] #319 closed

[2018-11-27 19:22] c-schwarze opened #330 "E-announcements links are bad"
![screen shot 2018-11-27 at 1 20 53 pm](https://user-images.githubusercontent.com/7849657/49105876-53f58800-f247-11e8-9f8e-1bb0a933a7e6.png)

It appears that the blue links in this screenshot are all pointed at the tinker e-annz homepage. We should update those to maybe point to the cascade asset?

[2018-11-27 20:22] bak45247 commented on #330
<a href="https://cms.bethel.edu/entity/open.act?id={{ form.id }}&type=block">

Changed the anchor in the title to this and it directs to the cms page now

[2018-11-28 19:53] c-schwarze opened #332 "Sync Metadata Failing"
It appears that the sync metadata section is no longer working. It correctly does the git pull and therefore has the updated data in sync_metadata. However, when the code runs, it uses the old sync_metadata (before the git pull). A graceful and then resync fixed it.

We should fix this. Also, in the past the sync has had to run twice to make it work.

[2018-11-28 21:35] c-schwarze opened #333 "Remove the Cache Clear from nav and the code"
We are moving this to its own app, so all of this code is no longer needed.

[2018-11-29 20:38] c-schwarze opened #335 "Tinker Redirects sometimes not working"
For some reason tinker redirects "fail" every so often and throws 403 errors. https://sentry.io/bethel-university/tinker/issues/751083575/?referrer=slack

I kept getting the error, then a log out log back in would fix it. But then it would happen to me again not too long after.

[2018-11-30 16:47] c-schwarze opened #336 "tinker.xp is not working"
Can someone look into why tinker.xp is broken?

[2018-12-11 17:08] c-schwarze opened #339 "WYSIWYG html comments"
There have been a few faculty bios that submit html comments (i think it is MS Word metadata?). We should find a way to have CKEditor remove these when we submit. I added a little snippet, but it was hard to see if it was actually working. I added it to /static/ckeditor/config.js

[2018-12-11 22:36] #333 closed

[2018-12-11 22:39] c-schwarze commented on #250
@bam95899, when you are in next (maybe february), this is something that you can work on after pagination.

[2018-12-11 22:46] c-schwarze commented on #335
The issue seems to be fixed. I'm guessing I just had something weird with my session.

[2018-12-11 22:48] c-schwarze commented on #335
Well, once I went to delete the test i did, it errored.

[2018-12-13 21:03] j-jasik commented on #336
Tinker xp is still on Python version 2.6.6, which is no longer supported by the most recent version of paramiko. Uninstalling Paramiko 2.4.2 and installing Paramiko 2.3.2 solved the issue, and tinker.xp.bethel.edu is up and working again.

[2018-12-13 21:03] #336 closed

[2018-12-19 22:03] c-schwarze commented on #332
I've spent some time with this. It actually does seem to work on both xp and prod. We were cacheing the homepage for 10 minutes, so I removed that. Hopefully this will help keep it more consistent.

closing unless we have more issues in the future

[2018-12-19 22:03] #332 closed

[2018-12-19 22:41] #335 closed

[2018-12-19 22:43] c-schwarze commented on #316
I think this one might have been a fluke. I'm going to close unless we see this again.

[2018-12-19 22:43] #316 closed

[2018-12-19 22:49] c-schwarze opened #342 "Unit Test - Add in tests for updates over the last year"
We haven't taken the opportunity to add unit tests as we go, once unit tests stopped working and MyBethel was launching. We should go back and add unit tests to continue to monitor Tinker. In doing so, we should clean up the current tests to allow for easier additions of new tests. We also should consider removing some tests that aren't viable or useful.

Wait until #304 is done

[2018-12-19 22:49] c-schwarze commented on #304
@phg49389 we have left unit tests untouched for over a year I think. When you have some time, could you work on getting unit tests running normally again? Once that happens, we can work on #342.

[2019-01-23 17:21] bak45247 opened #343 "upcoming e-announcements isnt working correctly"
The announcements shown aren't necessarily for the selected, upcoming date

[2019-02-11 16:55] bak45247 commented on #343
Issue resolved in 'fix-upcoming-eannouncements' branch

[2019-02-11 16:59] #343 closed

[2019-02-28 17:36] bam95899 commented on #297
Finished in PR #334

[2019-02-28 17:36] bam95899 commented on #297
Finished in PR #334

[2019-02-28 17:36] #297 closed

[2019-03-01 18:45] phg49389 opened #347 "Alter how the Redirects' integrity check functions"
Currently, on the first day of each month, Tinker iterates over all the redirects in its DB and makes GET requests to each "from path". After it finishes redirecting, it asserts that its final destination is the expected "to path". If they're different, then the "to path" gets updated and an email gets sent to Comm/Mktg. Additionally, it checks if a redirect path has expired. If it has, then it wi

[2019-03-05 17:00] bam95899 commented on #250
Completed in PR #346

[2019-03-05 17:00] #250 closed

[2019-03-06 18:32] c-schwarze commented on #347
@bak45247 this should be a good project for you to work on. Lets talk this through when you start working on this.

[2019-03-06 21:37] c-schwarze opened #348 "Clean up the admin "publish manager""
When we upgraded cascade to version 8, we decided to get rid of a lot of the publish manager features, since cascade 8's searching capabilities are actually good now.

However, a lot of the code still exists. We should clean this up

[2019-03-07 16:09] c-schwarze commented on #347
We might even want to have this run less often. The last 3 times this ran (last 3 months), no notable updates were made.

[2019-03-19 19:40] c-schwarze opened #349 "Deactivating Faculty Clear Cache"
Deactivating faculty has become an issue due to the faculty bio xml being cached for 5 minutes. We can't lose cacheing, due to the increase in time.

We should look into clearing the cache after a deactivate OR delete.

[2019-03-20 21:45] c-schwarze opened #350 "Create a better README"
^title

[2019-03-27 17:24] bak45247 commented on #347
1 0 * * * path/to/redirect_check/script >> This is how we run everyday

use .len() to determine length of redirects list >> I'm not sure how this will work, will test and try again

use datetime to determine number of days in month (Only on the first of each month) (Either a separate cron or some extra logic inside of figuring out which day it is)

math.ceil(list.len() / days) to determine number

[2019-03-27 18:04] bak45247 commented on #347
work with a clock to run only a couple hundred at a time and delay
sleep (1 - 3 seconds to lighten load on server) (and not run forever)

email to send through tinker or python OR rework the bash script to only send the email if there are in fact changes to be made

tl;dr -
Script will run everday, getting number of redirects to run based on the number of days in the month. Will run 1 and sleep fo

[2019-03-29 16:40] bak45247 commented on #347
calendar.monthrange(datetime.year, datetime.month)[1] = THE method used for finding the number of days in a month = days_month

redirects.len() = the method for obtaining the total number of redirects = total_redirects

math.ceil(total_redirects / days_month) = number of redirects checked per day = redirects_per_day

if its not the 1st or the last day of the month:
starting_point = datetime.day *

[2019-04-01 17:47] bak45247 commented on #347
All that is left is testing load on the server as well as changing the cron to run everyday

I don't have access to the server so I'm unable to change that.

@c-schwarze if you could change the cron to have 0 1 * * * as the initial part so it will run daily taht would be great

[2019-04-01 18:08] c-schwarze commented on #347
We still need 1 more change to be made, which is the email logic. Right now, it sends everytime it runs. That means we will email every day.

[2019-04-01 18:09] bak45247 commented on #347
Oh shoot yeah, can we look at the script on Wednesday when I come in?

[2019-04-08 15:13] c-schwarze opened #352 "Redirects for other domains"
@j-jasik you created the initial framework for this. I believe we have everything we need to push this forward.

This is low priority

[2019-05-02 14:40] c-schwarze opened #355 "Admin Sync - Change "Find and Replace" style"
We should update the Find and Replace button to be red - just to give it more of a warning. Also, lets add another layer of warning.

[2019-05-02 14:44] c-schwarze opened #356 "Admin Sync - Check if it works first time"
I know that the admin sync would fail the first time, but it would work the 2nd. Can someone double check that it successfully updates the data the first time it is clicked? If it works, close this - otherwise look into fixing it.

Thanks!

[2019-05-03 15:41] bak45247 commented on #347
For the emails being sent, we're using flask_mail.

Documentation: https://www.tutorialspoint.com/flask/flask_mail.htm

it doesn't actually work locally, so the local testing has just been assembling the emails and just printing them in the console. As far as true testing, I'll need to be on xp to be able to do that

[2019-05-15 15:53] c-schwarze opened #359 "Button Coloring"
I noticed in faculty bios, that all the buttons are blue. We should leverage bootstrap's btn-warning and btn-danger to help the visual. This should be looked at throughout tinker.

[2019-05-22 18:08] #304 closed

[2019-05-22 18:21] #307 closed

[2019-05-22 18:22] c-schwarze commented on #281
@josiahtillman, can you swing back around to this sometime over the next few weeks?

[2019-05-22 19:04] c-schwarze commented on #342
There are a few things I would like updated for our testing. I'll go ahead and get this started. I will pull in @josiahtillman and @j-jasik, along with some students for parts. I'll try to create a framework, to be able to pass this off in sections better.

- [ ] Create a set of "goals" that we want to use for testing - I don't want to test useless things
- [ ] Add in good comments to help format

[2019-05-28 18:23] bak45247 commented on #349
We can use:

cache.clear()

after the activate/deactivate functions to immediately clear the cache

[2019-05-28 19:43] bak45247 commented on #320
What is the help-desk role called?

It should be pretty simple, just placing that logic in the admin menu and then disallowing them to see anything but the user roles option

[2019-05-29 13:32] bak45247 commented on #349
We're actually not going to use cache.clear() as that will get rid of everything cached. Instead we'll use cache.delete_memoized() to delete the cache for only the faculty bios page. This way we won't have any loss on loading speeds for other pages due to the faculty bios methods

[2019-05-29 19:45] #347 closed

[2019-05-30 17:23] #320 closed

[2019-05-30 21:36] c-schwarze opened #364 "Faculty Bio courseleaf toggle fails"
An issue came in from sentry where the "publish" fails for toggling a courseleaf user.

[2019-05-31 19:18] bam95899 commented on #359
Dealt with in PR #365

[2019-06-11 16:21] c-schwarze commented on #349
@bam95899 where is this at? can this be closed?

[2019-06-11 16:23] bam95899 commented on #349
@bak45247 I think ya meant

[2019-06-11 16:40] #359 closed

[2019-06-11 19:59] c-schwarze opened #367 "Faculty Bio Images - Call cache.bethel.edu to clear the image"
We should create/use a cache.bethel.edu to clear the image cache. We might have to create a new route for this. Have the faculty bio do a get/post to call cache.bethel.edu.

[2019-06-12 19:23] bak45247 commented on #367
so, we have the post with the image to cache.bethel.edu - what do we do after that? will that route do what we want with the image?

[2019-06-13 16:11] #364 closed

[2019-06-17 14:59] bak45247 commented on #367
@c-schwarze
1. what is the image_path parameter in the clear cache function
2. What exactly are we doing with the image? I get that we want to POST to the site mentioned above, but where are we putting it?

[2019-06-17 15:46] bak45247 commented on #367
steps:
1. Navigate to cache.bethel.edu/thumbor
2. place image path into the text field
3. submit

hiccups:
1. cache.bethel.edu requires CAS auth
2. filling out the form with python

[2019-06-17 19:38] #339 closed

[2019-06-19 22:16] #350 closed

[2019-06-19 22:18] c-schwarze commented on #349
Yeah, @bak45247, where is this at?

[2019-06-19 22:27] c-schwarze commented on #348
#371 fixes this

[2019-06-19 22:37] c-schwarze commented on #299
If this is still an issue by January 1st, 2020 then we can close this.

[2019-06-19 22:45] c-schwarze commented on #278
When we hire another Web Content Manger, we can revisit this.

[2019-06-19 22:46] c-schwarze commented on #352
This is a duplicate of #261

[2019-06-19 22:46] #352 closed

[2019-06-19 22:49] c-schwarze commented on #261
We are able to SFTP between our servers easily. We should close case # 188656 when we finish this.

@j-jasik this is still very low priority, but just an FYI its still here.

[2019-06-21 16:25] c-schwarze commented on #326
this looks good

[2019-06-21 16:25] #326 closed

[2019-06-24 16:35] c-schwarze commented on #356
I fixed this. The issue is that it wasn't reloading the python module - a graceful was always needed.

[2019-06-24 16:35] #356 closed

[2019-06-24 16:35] #348 closed

[2019-06-24 16:36] c-schwarze commented on #355
We removed this module, because cascade8 does not support the searching we needed.

[2019-06-24 16:36] #355 closed

[2019-06-24 16:38] bak45247 commented on #349
this was pulled

[2019-06-24 16:38] bak45247 commented on #349
https://github.com/betheluniversity/tinker/pull/363

[2019-06-24 16:38] #349 closed

[2019-06-24 16:41] c-schwarze commented on #342
Ignore the previous comment.

After looking over things, I think we only need to keep Faculty bios unit tests. Lets take a look over this sometime

[2019-07-29 18:48] c-schwarze opened #379 "Redirects - Add notes"
It might be able to add notes to our redirects. A text field to help us keep track of why redirects exist. I don't think it would be used that often, but sometimes it might be nice to record why a redirect is added.

[2019-07-29 21:08] j-jasik opened #380 "Accented Letters in Faculty Bios"
Sending names with accents in them to cascade gets encoded weird and doesn't look good in cascade.

[2019-08-08 19:37] j-jasik opened #382 "Events Date Picker"
A couple errors popped up recently, one of them being the following:

https://sentry.io/organizations/bethel-university/issues/1145868505/?project=54403&referrer=slack

The date for the event isn't formatted correctly. Check if it's because JS is disabled.

[2019-08-15 15:41] c-schwarze opened #383 "Convert News Articles with "President Announcement" metadata to "News - President""
President announcements were migrated to the new template. We should consider running a script to loop over all old news articles in /president/announcements/, find the president announcements, delete those, and create the replacements with the new template.

[2019-09-10 18:06] c-schwarze opened #386 "Redirects - Add default expire of X years"
Redirects shouldn't last forever. We should consider having them default to 2-3 years for all new redirects that are added. We will need to talk to Marketing to get their approval of this.

We also could add an expiration date to a lot of already created redirects? Might be worth having someone go through the whole list? There are some that shouldn't expire.

[2019-09-24 15:43] c-schwarze opened #387 "Redirect Audit - Turn off altogether or run rarely"
At this point, the redirect audit is still sending blank emails the first day of the month.

However, I think that the audit might not be helpful to run every month anymore. The old redirects rarely are updated. We could consider having this run at larger intervals?

It might be helpful to consider fixing redirects as they are entered? We don't want it to be confusing, in the sense that the redire

[2019-10-16 18:42] bak45247 commented on #367
this has a pull request open

[2019-10-16 18:43] bak45247 commented on #387
we could have it run quarterly or biannually?

[2019-11-04 20:03] c-schwarze opened #393 "Events - all day setting doesn't hide end date. Seems weird."
This is an example on https://tinker.bethel.edu/events/edit/0cca88288c5865ef422d69cbe92944c4

![Screen Shot 2019-11-04 at 1 57 23 PM](https://user-images.githubusercontent.com/7849657/68153794-cc5ed180-ff0b-11e9-9427-640d6706eb8a.png)

[2019-11-13 14:02] bam95899 commented on #393
@c-schwarze currently when All Day is selected and No End Date is selected, and you unselect No End Date the End Date datepicker shows up again. Do we want that same behavior still or do we want it to still be hidden since All Day is still checked?

[2019-11-13 16:35] c-schwarze commented on #393
not actually an issue - my bad.

[2019-11-13 16:35] #393 closed

[2019-11-18 22:39] c-schwarze commented on #299
Closing.

[2019-11-18 22:39] #299 closed

[2019-11-18 22:47] c-schwarze commented on #382
We haven't seen this error in a long time. Closing

[2019-11-18 22:47] #382 closed

[2019-11-25 22:00] #281 closed

[2019-12-03 21:30] c-schwarze opened #398 "Clean up the extra files on the server"
There are quite a few files in /opt/tinker and /opt/tinker/tinker on the server, that I don't think we are using anymore. We should take some time to clean these up.

This can be done after the move to python3 is complete.

[2019-12-06 14:46] #379 closed

[2019-12-06 16:42] c-schwarze opened #399 "E-announcements - Disallow updates if they have a date after 1pm"
Christine is asking us to stop allowing updates to e-announcements after the deadline (1pm the previous day, but its worth looking at the other logic for the deadline because I believe there is more to it). We currently don't allow new e-announcements to be submitted after 1pm the day before - via the datepicker.

However, we currently allow updates.

[2019-12-20 17:17] #386 closed

[2020-01-07 22:55] c-schwarze commented on #398
This isn't needed, as we moved servers

[2020-01-07 22:55] #398 closed

[2020-01-07 22:56] c-schwarze commented on #387
Lets have this run 2-4 times a year. The first thing we will need to update is making sure we aren't sending emails if its blank.

[2020-01-07 22:57] c-schwarze commented on #383
This can wait until the "News Apocalypse" happens later this month.

[2020-01-07 22:57] c-schwarze commented on #380
This should be tested in python3.

[2020-01-22 20:22] #399 closed

[2020-01-30 19:42] c-schwarze opened #403 "Metadata Sync - not updating via the git pull in the code"
For the metadata sync, we have marketing update the github file directly (sync_metadata.py). Then we want the code to update with their changes and leverage those in the sync.

For some reason, the "git_pull" method I wrote seems to update the code via the git pull, but it doesn't properly reload the module.

[2020-03-05 21:30] c-schwarze opened #405 "Hide nav comment on XP/PROD"
The nav has a comment, but it only applies locally. Lets hide the comment on XP/Prod.

![Screen Shot 2020-03-05 at 3 28 06 PM](https://user-images.githubusercontent.com/7849657/76027303-052ca880-5ef6-11ea-890f-a961177c4891.png)

[2020-03-25 18:24] #405 closed

[2020-06-11 19:53] bam95899 commented on #387
Fixed via puppet code. Closing.

[2020-06-11 19:53] #387 closed

[2021-05-28 21:58] stevepjackson opened #417 "test"
testing

[2021-05-28 21:59] stevepjackson commented on #417
test test test

[2021-05-28 22:04] #417 closed

[2021-07-02 14:29] #380 closed

[2021-07-22 16:47] stevepjackson opened #421 "test issue"

[2021-07-22 16:55] stevepjackson commented on #421
testing a comment with "special" characters #$

[2021-07-22 17:01] stevepjackson commented on #421
one more test comment @stevepjackson !`{}

[2021-07-22 17:06] #421 closed

[2021-07-22 17:08] stevepjackson opened #422 "test issue with special characters !@"""
!@""+

[2021-07-22 18:36] stevepjackson commented on #422
@stevepjackson  I've started work on this in branch feature/covid-popup.

Currently the db procedure to update a persons record to "agreed" doesn't exist, but you can update the table manually to test both scenarios.

[2021-07-22 18:44] stevepjackson commented on #422
@bam95899 I've started work on this in branch feature/covid-popup.

Currently the db procedure to update a persons record to "agreed" doesn't exist, but you can update the table manually to test both scenarios.

[2021-07-22 18:46] stevepjackson commented on #422
testing comment

@stevepjackson I've started work on this in branch feature/covid-popup.

Currently the db procedure to update a persons record to "agreed" doesn't exist, but you can update the table manually to test both scenarios.

[2021-07-22 19:18] stevepjackson commented on #422
test

[2021-07-22 19:18] stevepjackson commented on #422
test

[2021-07-22 19:33] stevepjackson commented on #422
testing

[2021-07-22 19:48] #422 closed